:root {
    --orange: #f99d1c;
    --dark-orange: #ef8e06;
    --blue: #039be5;
    --header-padding: 4rem;
    --hero-bg-height: 600px;
}

@keyframes fadeUp {
    0% {
        margin-top: 90px;
    }

    100% {
        margin-top: 0px;
    }
}

@keyframes slideUp {
    0% {
        background-position: center bottom;
    }

    100% {
        background-position: center center;
    }
}

* {
    box-sizing: border-box
}

a, a:visited {
    color: #00385c;
    text-decoration: none;
    transition: all .15s ease-in-out;
}

a:visited:hover, a:hover {
    color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 1rem;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 16px calc((100% - 1400px) / 2);
}

header {
    position: relative;
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px #555;
    z-index: 9;
}

header .container {
    justify-content: space-between;
}

header .logos {
    display: inline-flex;
    align-items: center;
}

header .logo {
    height: 45px;
}

.header-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: var(--hero-bg-height);
}

.header-product {
    background-image: url(https://www.mapotechnology.com/assets/images/oreroads/m2ldrpV.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover
}

.header-product .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    height: 100%;
    background-color: rgba(0 0 0 / 65%);
    z-index: 1
}

.header-product .hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding: 0 calc(((100% - 1400px) / 2) - var(--header-padding)) 0 calc(((100% - 1400px) / 2) - var(--header-padding))
}

.header-product .content-wrap {
    display: flex;
    flex-grow: 1;
    flex-basis: 300px;
    padding: 2rem var(--header-padding);
    z-index: 9;
    margin-top: 90px;
    animation-name: fadeUp;
    animation-duration: 2s;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.header-product .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff
}

.header-product .content h1,
h1.title {
    font-family: roboto;
    font-weight: 600;
    font-size: 3.5rem;
    color: #fff
}

.ctas {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
    width: fit-content;
    gap: 1em;
    flex-wrap: wrap;
}

.ctas.center {
    margin-left: auto;
    margin-right: auto;
}

h1.title.c {
    color: var(--blue);
}

h1.title.c span {
    border-bottom: 2px solid var(--blue);
    padding-bottom: 5px;
}

.header-product .content p {
    font-size: 1.3rem;
}

.header-product .app {
    position: relative;
    bottom: -5rem;
    display: flex;
    flex-grow: 1;
    flex-basis: 400px;
    justify-content: center;
    z-index: 9
}

.header-product .app img {
    height: 100%;
    margin: 0;
    width: 100%;
    object-fit: contain;
    object-position: bottom;
}

.spacer {
    margin-top: calc(80px + 2rem);
}

section {
    width: 100%;
    min-height: 50px;
    background-color: #fff;
}

section.dark {
    background-color: var(--dark-orange) !important;
    color: #fff;
}

footer {
    display: block;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #29292a;
    font-size: 15px;
    color: #fff;
}

footer .container {
    padding-top: 0;
    padding-bottom: 0;
}

footer .row {
    width: 100%;
    align-items: center;
}

footer .row .col-md-4,
footer .row .col-md-8 {
    width: 50%;
}

footer .row p {
    font-weight: 100;
    line-height: 1.4;
    margin: 0;
    font-size: 15px;
}

ul.nav {
    display: flex;
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
}

ul.footer-menu {
    margin-left: 0 !important;
    flex-wrap: wrap;
    justify-content: flex-end;
}

ul.footer-menu li {
    padding: 10px 10px;
}

ul.footer-menu li a, ul.footer-menu li a:visited {
    color: var(--blue-gray);
    font-size: 15px !important;
    transition: all .15s ease-in-out;
}

ul.footer-menu li a:hover, ul.footer-menu li a:visited:hover {
    color: var(--light-gray);
}

section .container {
    display: block;
    align-items: unset;
    padding: 3rem calc((100% - 1400px) / 2);
}

section h1 {
    display: block;
    width: 100%;
    font-size: 3rem;
    font-family: 'Roboto';
    margin: 0 0 3rem 0;
    padding: 0;
    line-height: 1.2;
    color: #1d3461;
}

section h1.center {
    text-align: center;
}

.center {
    text-align: center;
}

img {
    max-height: 600px;
}

a.btn {
    display: inline-flex;
    width: fit-content;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    background-color: var(--orange);
    border: 1px solid var(--dark-orange);
    border-radius: 5px;
    transition: all .15s ease-in-out
}

a.btn.btn-blue {
    background-color: #039BE5;
    border-color: #038ACD;
}

a.btn.btn-black {
    background-color: #252525;
    border-color: #000;
}

a.btn.btn-stripe {
    background-color: #625afa;
    border-color: #625afa;
}

a.btn.btn-stripe:hover {
    background-color: #3f32a1;
}

a.btn i {
    text-align: left;
    width: 36px;
}

a.btn:hover {
    background-color: var(--dark-orange)
}

a.btn.btn-blue:hover {
    background-color: #038ACD;
}

a.btn.btn-black:hover {
    background-color: #000;
}

.row {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.col {
    display: flex;
    flex: 0 1 50%;
    max-width: 50%;
    padding: 2rem 0;
}

.row .col.justify-center {
    justify-content: center;
    text-align: center;
}

p {
    font-family: roboto;
    font-size: 1.1rem;
    line-height: 1.6em;
    margin: 1rem 0;
}

p.hl {
    font-size: 1.4rem;
}

sup {
    vertical-align: super;
    line-height: 0;
    font-size: 0.8rem;
}

li h2 {
    font-weight: 200;
}

.highlight {
    list-style: none;
    margin: 0;
    display: block;
    padding-inline-start: 0;
    margin: 0 auto;
    width: fit-content;
}

.highlight li {
    text-align: center;
    padding-bottom: 1rem;
}

.highlight li:last-child {
    padding-bottom: 0;
}

.highlight li i {
    color: #e41616;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.highlight h2 {
    font-family: roboto;
    color: #454545;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}

.highlight span {
    display: block;
    margin-top: .5em;
    font-size: 1.2rem;
    text-align: center;
    color: #656565;
}

.legend {
    display: flex;
    width: 100%;
    height: 12px;
    flex-wrap: wrap;
    margin-top: 2em;
}

.legend>div {
    flex: 1;
}

@media(max-width: 1528px) {
    .container {
        padding: 8px 4rem;
    }

    section .container {
        padding: 3rem 4rem;
    }
}

@media(max-width: 1130px) {
    .spacer {
        margin-top: calc(39px + 2rem);
    }
}

/*@media(max-width: 1092px) {
    .spacer {
        margin-top: 0;
    }
}

@media (min-width: 769px) and (max-width: 788px) {
    .spacer {
        margin-top: 5em;
    }
}*/

@media(max-width: 768px) {
    .spacer {
        margin-top: 0;
    }

    .row {
        flex-wrap: wrap;
    }

    .row.rev {
        flex-wrap: wrap-reverse;
    }

    header .container {
        justify-content: center;
    }

    header .container > a {
        display: none;
    }

    .col {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 1rem 0;
    }

    .header-product {
        background-position: top center;
        background-size: auto 600px;
    }

    .header-product .overlay {
        max-height: 600px;
    }

    .header-product .content-wrap {
        flex-basis: 400px;
    }

    .header-product .content {
        text-align: center;
        align-items: center;
    }

    .header-product .app {
        bottom: 0;
    }

    /*section {
        margin-top: 2rem;
    }*/

    h1.title,
    p.hl {
        text-align: center;
    }

    footer .row {
        gap: 15px;
    }

    footer .row .col-md-4,
    footer .row .col-md-8 {
        text-align: center;
        flex: 0 0 auto;
        width: 100%;
    }

    ul.footer-menu {
        justify-content: center;
    }
}

@media(max-width: 550px) {

    .header-product .content h1,
    h1.title {
        font-size: 2.5rem;
    }

    section .container,
    /*footer .container,*/
    .header-product .content-wrap {
        padding: 2rem;
    }
}

@media(max-width: 425px) {
    .header-product .app img {
        max-height: 500px;
    }

    section h1 {
        font-size: 2.2rem;
    }

    .highlight span {
        font-size: 1.1rem;
    }

    .highlight h2 {
        font-size: 1.5rem;
    }
}

@media(max-width: 385px) {
    .header-product {
        background-size: auto 700px;
    }

    .header-product .overlay {
        max-height: 700px;
    }
}

@media (max-width: 335px) {
    header .container {
        flex-direction: column;
    }
}