a {
    color: var(--light-blue);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    background: #f7f8fa;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

header {
    background: white;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
}

header img {
    max-height: 60px;
}

.message {
    display: block;
    padding: 1em;
    margin: 2em auto 0 auto;
    width: 100%;
    max-width: calc(1200px - 40px);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.1px;
    color: #333;
    border-radius: 6px;
}

.message.success {
    background-color: color-mix(in srgb, #2fb344 10%, transparent);
    border-color: color-mix(in srgb, #2fb344 20%, transparent);
}

.message.error {
    background-color: color-mix(in srgb, #d63939 10%, transparent);
    border-color: color-mix(in srgb, #d63939 20%, transparent);
}

.plans-section,
.feature-section {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.feature-section h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.plans-section p {
    color: #666;
    margin: 2em 0 4em 0;
}

.btn {
    margin: 1em 0 0;
}

.plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.plan {
    position: relative;
    background: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 30px 20px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease;
}

.plan:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transform: translateY(-2px);
}

.plan h3 {
    margin: 0 0 1em 0;
    font-size: 1.5em;
    color: #333;
}

.plan .price {
    font-size: 1.7em;
    margin: 10px 0;
    color: #222;
}

.plan .interval {
    color: #888;
    font-size: 0.9em;
}

.plan ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    color: #444;
    font-size: 0.95em;
}

.plan ul li {
    margin-bottom: 10px;
}

.plan button {
    background: #333;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.plan button:hover {
    background: #000;
}

.highlight {
    border: 2px solid #ff5722;
}

.highlight h3 {
    color: #ff5722;
}

.badge {
    position: absolute;
    top: -11.4px;
    left: 50%;
    transform: translateX(-50%);
    background: #e64a19;
    color: white;
    padding: 5px 15px;
    font-size: 0.8em;
    border-radius: 5px;
}

.trial-text {
    color: var(--blue);
    font-weight: 400;
    margin: 1.5em 0 .5em 0 !important;
    font-size: 0.9em;
}

.trust {
    text-align: center;
    font-size: 0.9em;
    color: #666;
    line-height: 1.3;
    margin-top: 40px;
}

.features-wrapper {
    position: relative;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

.features-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.features-wrapper:hover,
.features-wrapper:focus-within {
  scrollbar-width: auto; /* Firefox shows scrollbar on interaction */
}
.features-wrapper:hover::-webkit-scrollbar {
  display: block;
}

.features {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 500px;
    font-size: 15px;
}

.features .row {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.features .row.tiers {
    font-weight: bold;
    align-items: center;
    font-size: 18px;
    border: 0;
}

.features .row:last-child {
    border-bottom-width: 1px;
}

.features .row.group {
    background-color: #333;
    color: #fff;
    border: 0;
    margin: 1em 0;
}

.features .row.group:first-child {
    margin: 0;
}

.features .row:has(+ .row.group),
.features .row:last-child {
    border-bottom: 0;
}

.features .row>div {
    display: block;
    padding: 0.7em;
    flex-basis: auto;
    width: calc(50% / 3);
    text-align: center;
}

.features .row>div:first-child {
    text-align: left;
    width: 50%;
    border-right: 1px solid #ccc;
}

.features .row.tiers>div:first-child {
    border: 0;
}

.features .row>div:last-child {
    border-right-width: 1px
}

.features .row>div:only-child {
    width: 100%;
}

.check {
    color: green;
    font-weight: bold;
}

.xmark {
    color: red;
    font-weight: bold;
}

form a {
    display: block;
    margin-top: 1em;
    font-size: 0.9em;
}

footer {
    text-align: center;
    margin: 4em 0 3em 0;
    padding: 2em;
    font-size: 0.85rem;
    color: #666;
}

@media screen and (max-width: 960px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }
}

/*@media (max-width: 650px) {
    .features .row.tiers {
        display: none;
    }

    .features .row {
        flex-wrap: wrap;
    }

    .features .row>div {
        width: 33.333%;
        border: 0;
    }

    .features .row>div:first-child {
        width: 100%;
        font-weight: 600;
        text-align: center;
        border-right: 0;
    }

    .features .row>div:nth-child(2) {
        border-left: 0;
    }

    .features .row>div:nth-child(2)::before,
    .features .row>div:nth-child(3)::before,
    .features .row>div:nth-child(4)::before {
        display: block;
        margin-bottom: 0.5em;
        color: #444;
        font-weight: 400;
    }

    .features .row>div:nth-child(2)::before {
        content: "Lookout (Free)";
    }

    .features .row>div:nth-child(3)::before {
        content: "Ignite";
    }

    .features .row>div:nth-child(4)::before {
        content: "Hotshot";
    }
}

@media (max-width: 425px) {
    .features .row>div {
        width: 100%;
    }
}*/