:root {
    --nav-width: 100px;
    --mb-button-width: 35px;
    --container-space: 0.7em;
    --modal-height: 8vh;
    --search-results-width: 400px;
    --control-height: 40px;
    --spacing: 1em;
    --roboto: 'Roboto', Tahoma, sans-serif;
    --dosis: 'Dosis', Tahoma, sans-serif;
    --close-color: #777;
    --hover-close-color: #555;
    --color-transition: all .15s ease-in-out;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 16px;
    overflow: hidden;
}

a,
a:visited {
    color: var(--blue);
    text-decoration: none;
    transition: all .15s ease-in-out;
}

a:hover,
a:visited:hover {
    color: var(--orange);
}

.bd {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(0 0 0 / 50%)), color-stop(0, rgb(0 0 0 / 0%)));
}

.loading {
    position: absolute;
    display: inline-flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 100;
    z-index: 999;
}

#map {
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.android-banner {
    display: none;
    width: 100%;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    gap: .75em;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.android-banner .dismiss {
    font-size: 20px;
    color: #888;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all .15s ease-in-out;
}

.android-banner .dismiss:hover {
    color: #444;
    background-color: rgb(0 0 0 / 10%);
}

.android-banner .inner {
    display: flex;
    align-items: center;
    gap: .75em;
}

.android-banner .icon {
    display: block;
    width: 55px;
    min-width: 55px;
    height: 55px;
    border-radius: 10px;
    background: url(https://play-lh.googleusercontent.com/3Hz4Kr-v7TlKDeFZsUWeCToqQpcx5w4PN4An2WUOEGYrok4ctSAwMD3-fnLarPPWYQ=w240-h480-rw) no-repeat;
    background-size: cover;
}

.android-banner .text {
    display: inline-flex;
    flex-direction: column;
    gap: 0.33em;
    font-size: 15px;
    user-select: none;
}

.android-banner .text span {
    font-size: 14px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: var(--nav-width);
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 6px rgb(0 0 0 / 20%);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
}

nav::-webkit-scrollbar {
    width: 4px;
}

nav .nav-wrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
}

nav .nav-wrapper .logo {
    display: flex;
    min-height: 77px;
    align-items: center;
    justify-content: center;
}

nav .nav-wrapper .logo a {
    outline: none;
}

nav .nav-wrapper .logo img {
    width: 100%;
    max-width: 85px;
    padding: 0 0.75em;
    outline: none;
}

nav ul {
    display: none;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing);
    list-style: none;
    margin: 0;
    padding: var(--spacing);
}

nav ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

nav ul li.disabled i,
nav ul li.disabled span,
nav ul li.disabled:hover i,
nav ul li.disabled:hover span {
    cursor: not-allowed;
    color: #a1a1a1 !important;
}

nav ul li i {
    color: #404040;
    font-size: 19px;
}

nav ul li span {
    display: block;
    font-size: 12px;
    color: #444;
    text-align: center;
}

/*nav ul li:last-child span {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
}*/

nav ul li:hover i {
    color: #222;
}

nav.hide {
    max-width: 40px;
}

nav.hide ul {
    padding: var(--spacing) .5em;
}

nav.hide ul li i {
    font-size: 16px;
}

nav.hide ul li span {
    display: none;
}

nav.hide .nav-wrapper .logo img {
    padding: 0 4px;
}

#close-navbar {
    display: none;
    flex: 0;
    width: 100%;
    padding: 1.5em 0;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#close-navbar.show {
    display: inline-flex;
}

#close-navbar:hover {
    background-color: rgb(100 100 100 / 5%);
}

nav.hide #close-navbar {
    padding: 1.5em 0;
}

.notify {
    position: absolute;
    top: -9px;
    right: 3px;
    width: 20px;
    height: 20px;
    padding: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #fff;
    line-height: 0;
    text-align: center;
    background-color: #d93d3d;
    border-radius: 50%;
}

.filter-controls {
    position: absolute;
    top: var(--container-space);
    left: calc(var(--nav-width) + var(--container-space));
    display: flex;
    align-items: center;
    width: calc(100% - var(--mb-button-width) - var(--nav-width) - calc(3 * var(--container-space)));
    gap: var(--spacing);
    z-index: 998;
}

.control {
    height: var(--control-height);
    border: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.3125rem rgb(0 0 0 / 14%), 0 0.0625rem 0.375rem rgb(0 0 0 / 12%);
}

.control.tool:hover {
    background-color: #f9f9f9;
}

.filter-controls .tool {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: var(--control-height);
    cursor: pointer;
    transition: var(--color-transition);
}

.filter-controls .search {
    display: none;
    width: var(--search-results-width);
    height: 40px;
    gap: .5em;
    padding: .6em;
    align-items: center;
    font-size: 18px;
}

.filter-controls .search input {
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-family: var(--roboto);
    font-size: 16px;
}

.filter-controls .search input:disabled {
    cursor: not-allowed;
    background-color: transparent;
}

ul#search-results {
    position: absolute;
    top: calc(40px + .5em);
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: var(--search-results-width);
    padding: .4em 0;
    height: auto;
    max-height: 350px;
    list-style: none;
    overflow-y: auto;
}

ul#search-results li {
    display: inline-flex;
    gap: var(--spacing);
    align-items: center;
    padding: .6em var(--spacing);
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

ul#search-results li.trending {
    justify-content: space-between;
}

ul#search-results li>div {
    display: inline-flex;
    gap: var(--spacing);
    align-items: center;
}

ul#search-results li span.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(50 50 50 / 10%);
}

ul#search-results li span.icon.fire {
    background-color: #dd3f3f;
}

/*span.feature-icon {
    font-weight: 800;
    line-height: 0;
}*/

ul#search-results li span.icon.none {
    background-color: transparent;
    box-shadow: none;
}

ul#search-results li h3 {
    display: inline-flex;
    flex-direction: column;
    gap: .4em;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
}

ul#search-results li h3 span {
    font-size: 12px;
    color: #5a5a5a;
    letter-spacing: 0.2px;
}

ul#search-results li:not(.standby):hover {
    background-color: #eee;
}

ul#search-results li.standby {
    cursor: default !important;
}

ul#search-results li.standby i {
    color: var(--light-blue);
    animation: .9s linear infinite spin;
}

#menuIcon {
    display: none;
    padding: 0.3em;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

#dd-close {
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    margin: .5em .5em 0 0;
    font-size: 22px;
    color: #555;
    line-height: 1;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

#dd-close:hover {
    color: #333;
}

.maplibregl-ctrl-attrib.maplibregl-compact {
    display: inline-flex;
    align-items: center;
}

.maplibregl-ctrl-attrib.maplibregl-compact-show {
    padding: 0 23px 0 7px;
}

.maplibregl-ctrl-attrib-button {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.maplibregl-ctrl-attrib-inner {
    font-size: 11px;
}

a.maplibregl-ctrl-logo {
    width: 60px;
    height: 15.68px;
}

.maplibregl-ctrl-top-left,
.maplibregl-ctrl-bottom-left {
    left: var(--nav-width);
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
    margin: var(--spacing) var(--spacing) 0 0;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl {
    margin: 0 0 var(--spacing) var(--spacing);
}

.maplibregl-ctrl-scale {
    margin: 0 0 0.5em var(--spacing) !important;
}

.maplibregl-ctrl-group button {
    width: var(--mb-button-width);
    height: var(--mb-button-width);
}

.maplibregl-ctrl button:not(.maplibregl-ctrl-fullscreen) .maplibregl-ctrl-icon {
    background-size: 90%;
}

.mapbox-gl-draw_ctrl-draw-btn,
.maplibregl-ctrl-fullscreen .maplibregl-ctrl-icon {
    background-size: 70%;
}

.maplibregl-ctrl-group button.maplibregl-ctrl-compass {
    cursor: pointer;
}

.maplibregl-ctrl button.maplibregl-ctrl-compass .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ed254e' width='300' height='300' viewBox='0 0 29 29'%3E%3Cpath d='M10.5 14l4-8 4 8h-8z'/%3E%3Cpath d='M10.5 16l4 8 4-8h-8z' fill='%23ddd'/%3E%3C/svg%3E") !important;
}

.tooltip {
    display: none;
    position: absolute;
    padding: 5px 8px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 160px;
    overflow: hidden;
    z-index: 999;
    user-select: none;
}

/*@media ((min-width: 641px) and (max-height: 490px)) or ((max-width: 640px) and (max-height: 450px)) {
    .maplibregl-ctrl-top-right .maplibregl-ctrl-group:last-child {
        display: none;
    }
}*/

@media (max-width: 640px) {
    :root {
        --mb-button-width: 29px;
    }

    .maplibregl-ctrl-group button {
        width: var(--mb-button-width);
        height: var(--mb-button-width);
    }

    .maplibregl-ctrl button .maplibregl-ctrl-icon,
    .mapbox-gl-draw_ctrl-draw-btn {
        background-size: auto;
    }
}

@media (max-width: 600px) {
    @media (min-height: 500px) {
        nav ul {
            gap: 2em;
        }
    }

    :root {
        --nav-width: 40px;
    }

    nav {
        max-width: 40px;
    }

    nav ul {
        padding: var(--spacing) .5em;
    }

    nav ul li i {
        font-size: 16px;
    }

    nav ul li span {
        display: none;
    }

    nav .nav-wrapper .logo img {
        padding: 0 4px;
    }

    #close-navbar {
        display: none;
    }

    .filter-controls {
        width: calc(100% - var(--nav-width) - calc(2 * var(--container-space)));
    }

    .maplibregl-ctrl-top-right {
        bottom: calc((var(--spacing) * 2) + 24px);
        top: unset !important;
    }

    .notify {
        top: 0;
        left: 0;
    }

    /*.maplibregl-ctrl-top-right .maplibregl-ctrl-group:last-child {
        display: none;
    }*/
}

@media (max-width: 500px) {
    :root {
        --nav-width: 0px;
    }

    .bd {
        display: block;
    }

    .filter-controls {
        width: calc(100% - calc(2* var(--container-space)));
        left: var(--container-space);
        gap: 0.7em;
    }

    #menuIcon,
    #dd-close {
        display: block;
    }

    nav {
        transition: transform 0.3s ease;
        max-width: calc(100% - 25vw);
        transform: translateX(-100%);
    }

    nav.open {
        transform: translateX(0%);
    }

    nav ul {
        padding: var(--spacing);
    }

    nav ul li {
        flex-direction: row;
        gap: 2em;
    }

    nav ul li i {
        width: 12.5px;
        font-size: 20px;
    }

    nav ul li span {
        display: block;
        font-size: 16px;
    }

    nav .nav-wrapper .logo {
        padding: var(--spacing);
        justify-content: center;
    }

    nav .nav-wrapper .logo img {
        height: 43px;
    }

    .notify {
        top: 50%;
        left: unset;
        transform: translateY(-50%);
    }

    #search-results {
        left: calc(21px + 1.3em) !important;
        max-width: calc(100% - calc(21px + 1.3em)) !important;
    }

    .maplibregl-ctrl-top-left,
    .maplibregl-ctrl-bottom-left {
        left: var(--container-space);
    }
}

@media (max-width: 370px) {
    .android-banner {
        flex-wrap: wrap;
        justify-content: center;
    }
}