hr {
    margin: 1.5em 0;
    height: 0;
    border-top: 1px solid #b1b1b1;
    border-bottom: 0;
}

.card {
    display: block;
    padding: 1em 2em
}

.card h1 {
    display: block;
    margin: 0 0 1em 0;
    padding: 0 0 0.4em 0;
    font-family: poppins;
    font-size: 1.8em;
    font-weight: bold;
    color: var(--hovergray);
    border-bottom: 1px solid var(--hovergray)
}

.card h1 a {
    color: var(--hovergray);
    text-decoration: none
}

a.box-link,
a.box-link:visited {
    display: block;
    padding: 1.5em;
    max-width: 400px;
    width: 95%;
    margin: 0 auto;
    background-color: var(--blue2);
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.25em;
    text-align: center;
    border-radius: 5px
}

a.box-link:hover,
a.box-link:visited:hover {
    background-color: var(--hovergray)
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-collapse: collapse
}

.table a {
    text-decoration: none;
    color: var(--blue)
}

.table th {
    color: var(--blue2);
    font-weight: 800;
    text-transform: uppercase
}

.table th,
.table td {
    text-align: left;
    padding: 0.5rem;
    border-bottom-width: 1px;
    border-bottom-style: solid
}

.table>thead {
    vertical-align: bottom
}

.table>tbody {
    vertical-align: inherit
}

.table-responsive {
    overflow-x: auto
}

.table.table-dark {
    color: #fff
}

.table.table-striped.table-dark th,
.table.table-striped.table-dark td {
    border-bottom-color: #373b3e
}

.table.table-striped th,
.table.table-striped td {
    border-bottom-color: #dee2e6
}

.table.table-striped thead tr th,
.table.table-striped tr td {
    background-color: #fff
}

.table.table-striped tbody tr:nth-child(odd) td {
    background-color: #f2f2f2
}

.table.table-dark.table-striped thead tr th,
.table.table-dark.table-striped tr td {
    background-color: #212529
}

.table.table-dark.table-striped tbody tr:nth-child(odd) td {
    background-color: #2c3034
}

p.help {
    margin: 0.5em 0 1.5em 0;
    padding: 0;
    color: var(--hovergray);
    text-transform: uppercase
}

p.help:before {
    content: '\f059';
    font-family: 'Font Awesome 6 Pro';
    font-weight: bold;
    padding-right: 0.5em
}

main.page {
    background-color: #fff
}

main .col.w-8 {
    max-width: 65.67%
}

.admin-options .col.w-3 {
    min-width: 25%;
    margin-bottom: 1em
}

form b {
    display: inline-block;
    margin-bottom: 0.3em;
    color: #3c3c3c
}

form b.req:after {
    content: '*';
    padding-left: 1px;
    color: red;
    font-size: 17px;
    font-weight: 400
}

form ol {
    margin: 0;
    padding: 0 0 0 1em
}

form ol li {
    padding-left: 1em;
    font-weight: bold;
    color: var(--blue2)
}

form input[type=text],
form input[type=tel],
form input[type=email],
input[type=datetime-local],
form select {
    display: block;
    width: 100%;
    max-width: 400px;
    margin-bottom: 1em;
    padding: 0.4em 0.5em;
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: #282829;
    border: 1px solid #a8a8a9/*var(--blue2)*/;
    border-radius: 6px;
    outline: 0
}

form select.dark {
    background-color: var(--hovergray);
    color: #fff;
    border-color: var(--gray)
}

form input[type=text]:disabled,
form select:disabled {
    color: #787878;
    border-color: rgb(57 96 133 / 34%);
}

form.dark select:disabled {
    color: #b9b9b9
}

form .checkbox {
    display: block;
    min-height: 1.5rem
}

.checkbox.inline {
    display: inline-block;
    margin-right: 10px;
}

fieldset > .checkbox.inline:last-child, div > .checkbox.inline:last-child {
    margin-right: 0;
}

form .checkbox input[type=checkbox],
form .checkbox input[type=radio] {
    display: block;
    float: left;
    margin: 3px 10px 0 0
}

form .checkbox label {
    display: inline-block
}

form input.btn:last-child {
    margin-top: 2em
}

fieldset {
    margin-bottom: 1em;
    padding: 0.5em 1em 1em 1em;
    border: 1px solid var(--blue2);
    border-radius: 4px
}

fieldset legend {
    padding: 0 0.5em;
    font-size: 18px;
    font-weight: bold;
    color: var(--blue)
}

.slidecontainer {
    width: 100%;
    max-width: 300px
}

.slider {
    width: 100%;
    height: 20px;
    background-color: #d3d3d3;
    border-radius: 5px;
    opacity: 0.7;
    outline: none;
    appearance: none;
    transition: all .15s ease-in-out
}

.slider::-webkit-slider-thumb {
    width: 40px;
    height: 20px;
    border-radius: 5px;
    background-color: var(--lightgreen);
    cursor: pointer;
    appearance: none
}

.slider:hover {
    opacity: 1
}

.btn {
    display: inline-block;
    max-width: 300px;
    margin-bottom: 1em;
    padding: 8px 16px;
    background-color: var(--gray2);
    border: 0;
    border-radius: 7px;
    font-family: source sans pro;
    font-size: 16px;
    font-weight: 100;
    color: #000;
    text-decoration: none;
    transition: all .15s ease-in-out;
    cursor: pointer;
    outline: none
}

.btn i {
    padding-right: 5px;
}

.btn.sm {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 400;
}

.btn.green {
    background-color: var(--green);
    color: #fff
}

.btn.red {
    background-color: var(--red);
    color: #fff
}

.btn.orange {
    background-color: var(--orange);
    color: #fff
}

.btn.blue {
    background-color: var(--blue2);
    color: #fff
}

.btn.dark {
    background-color: var(--lightgray);
    color: #fff
}

.btn:hover {
    background-color: var(--gray3);
    filter: saturate(0.8)
}

.btn.red:hover {
    background-color: var(--red)
}

.btn.green:hover {
    background-color: var(--green)
}

.btn.orange:hover {
    background-color: var(--orange)
}

.btn.blue:hover {
    background-color: var(--blue2)
}

.btn.dark:hover {
    background-color: var(--lightgray)
}