* {
    box-sizing: border-box
}

html,
body,
#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 16px;
    overflow: hidden;
}

a {
    color: var(--light-blue);
    transition: all .15s ease-in-out;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: var(--blue);
}

.mapboxgl-popup-tip {
    margin-top: -1px;
}

.mapboxgl-popup-close-button {
    margin: 5px 3px 0;
    font-size: 30px;
    color: #777;
    line-height: 0.5;
    outline: none;
}

.mapboxgl-popup-close-button:hover {
    background-color: transparent !important;
    color: #353535;
}

.mapboxgl-popup-content {
    padding: 1em !important;
}

.mapboxgl-popup-content h3 {
    margin: 0;
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
}

.mapboxgl-popup-content ul {
    margin-inline-start: 1em;
    margin-top: .5em;
}

.mapboxgl-popup-content ul li {
    line-height: 1.5;
}

.logo {
    position: absolute;
    display: none;
    top: 7px;
    left: 10px;
    z-index: 9;
}

.logo img {
    height: 38px;
}

.logo img:last-child {
    display: none;
}

.panel {
    position: absolute;
    display: none;
    right: 0px;
    top: calc(98px + 1em);
    width: 100%;
    max-width: 300px;
    height: calc(100% - calc(98px + 1em) - 3em);
    max-height: 575px;
    padding: 1em;
    background-color: #fff;
    border-radius: .5em 0 0 .5em;
    box-shadow: 0 0 40px rgb(50 50 50 / 50%);
    z-index: 9;
    overflow-y: auto;
}

.panel h1 {
    font-size: 18px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 1em;
}

.i {
    display: inline-flex;
    width: 100%;
    gap: 1em;
    align-items: center;
    margin-bottom: .5em;
}

#panelClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.3em .3em 0;
    font-size: 24px;
    line-height: 0.5;
    color: #777;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

#panelClose:hover {
    color: #444;
}

#legend {
    position: absolute;
    top: calc(97px + 1em);
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 29px;
    margin: 0 10px 10px 0;
    background-color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    z-index: 8;
    transition: all .15s ease-in-out;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

#legend:hover {
    background-color: #f2f2f2;
}

#basemap {
    position: absolute;
    display: none;
    top: 0;
    right: 29px;
    margin: 10px calc(10px + 1em) 0 0;
    border: 1px solid #ddd;
    padding: 0.4em;
    background-color: #fff;
    font-family: 'Roboto';
    font-size: 16px;
    border-radius: 6px;
    outline: none;
    z-index: 8;
}

@media(max-width: 425px) {
    .logo img:first-child {
        display:none;
    }

    .logo img:last-child {
        display: block;
    }
}