html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

header {
    background-color: #444;
    border: 0
}

header .logo {
    height: 55px
}

header .nav-link {
    color: #fff
}

header .nav-link:hover,
header .nav-link:focus {
    color: #bbb
}

header .nav-pills .nav-link.active {
    background-color: #ab6f00
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 600px;
    background: url(https://www.mapotrails.com/data/photos/pxl_20210926_214600045.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff !important
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    filter: opacity(0.5);
    z-index: 0
}

section {
    padding: 75px
}

section:nth-child(even) {
    background-color: #f6f6f6;
}

.cntct i {
    padding-right: 20px;
}

.cntct a {
    text-decoration: none;
}

footer {
    padding: 50px;
    text-align: center;
    background-color: #282829;
    color: #fff
}

@media (max-width: 575px) {
    header .container {
        flex-wrap: wrap;
    }

    header .container > a {
        flex: 1 1 100%;
        justify-content: center;
    }

    header .container ul.nav {
        margin: 10px auto 0 auto;
    }
}