:root {
    --nav-width: 100px;
    --mb-button-width: 35px;
    --container-space: 0.7em;
    --roboto: 'Roboto', Tahoma, sans-serif;
    --dosis: 'Dosis', Tahoma, sans-serif
}

* {
    box-sizing: border-box
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 16px;
}

a,
a:visited {
    color: var(--blue);
    text-decoration: none;
    transition: all .15s ease-in-out;
}

a:hover,
a:visited:hover {
    color: var(--orange);
}

.btn {
    font-family: var(--roboto)!important;
}

.btn i {
    padding-right: 0.5em!important;
}

.loading {
    position: absolute;
    display: inline-flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    gap: 1em;
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 100;
    z-index: 999;
}

#map {
    width: 100%;
    height: 100%
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: var(--nav-width);
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 6px rgb(0 0 0 / 20%);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999
}

nav::-webkit-scrollbar {
    width: 4px
}

nav .nav-wrapper {
    display: flex;
    flex-direction: column;
    height: inherit
}

nav .nav-wrapper .logo {
    display: flex;
    min-height: 77px;
    align-items: center;
}

nav .nav-wrapper .logo a {
    outline: none;
}

nav .nav-wrapper .logo img {
    width: 100%;
    max-width: 93px;
    padding: 0 0.75em;
    outline: none;
}

nav ul {
    display: none;
    flex: 1;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 1em
}

nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    transition: all .2s ease-in-out;
    cursor: pointer
}

nav ul li i {
    color: #404040;
    font-size: 19px
}

nav ul li span {
    display: block;
    font-size: 12px;
    color: #444;
    text-align: center
}

nav ul li:hover i {
    color: #222
}

nav.hide {
    max-width: 40px
}

nav.hide ul {
    padding: 1em .5em
}

nav.hide ul li i {
    font-size: 16px
}

nav.hide ul li span {
    display: none
}

nav.hide .nav-wrapper .logo img {
    padding: 0 4px
}

#close-navbar {
    display: inline-flex;
    flex: 0;
    width: 100%;
    padding: 1.5em 0;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out
}

#close-navbar:hover {
    background-color: rgb(100 100 100 / 5%)
}

nav.hide #close-navbar {
    padding: 1.5em 0
}

.filter-controls {
    position: absolute;
    top: var(--container-space);
    left: calc(var(--nav-width) + var(--container-space));
    display: flex;
    align-items: center;
    width: calc(100% - var(--mb-button-width) - var(--nav-width) - calc(3 * var(--container-space)));
    gap: 1em;
    z-index: 998;
}

.control {
    border: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.3125rem rgb(0 0 0 / 14%), 0 0.0625rem 0.375rem rgb(0 0 0 / 12%);
}

.filter-controls .search {
    display: inline-flex;
    width: 400px;
    height: 40px;
    gap: .5em;
    padding: .6em;
    align-items: center;
    font-size: 18px;
}

.filter-controls .search input {
    display: block;
    width: 100%;
    border: 0;
    outline: none;
    font-family: var(--roboto);
    font-size: 16px;
}

.filter-controls .search input:disabled {
    cursor: not-allowed;
    background-color: transparent;
}

ul#search-results {
    position: absolute;
    top: calc(40px + .5em);
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    padding: .4em 0;
    height: auto;
    max-height: 350px;
    list-style: none;
    overflow-y: auto;
}

ul#search-results li {
    display: inline-flex;
    gap: 1em;
    align-items: center;
    padding: .6em 1em;
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

ul#search-results li span.icon,
span.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(50 50 50 / 10%);
}

span.feature-icon {
    font-weight: 800;
    line-height: 0;
}

ul#search-results li span.icon.none {
    background-color: transparent;
    box-shadow: none;
}

ul#search-results li h3 {
    display: inline-flex;
    flex-direction: column;
    gap: .4em;
    font-size: inherit;
    font-weight: 200;
    line-height: inherit;
}

ul#search-results li h3 span {
    font-size: 12px;
    color: #5a5a5a;
    letter-spacing: 0.2px;
}

ul#search-results li:not(.standby):hover {
    background-color: #eee;
}

ul#search-results li.standby i {
    color: var(--light-blue);
    animation: .9s linear infinite spin;
}

.dropdown-button {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}

.dropdown-button button.dd {
    display: inline-flex;
    gap: 1em;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: .85em 1.5em;
    border: 0;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.dropdown-button .dd .label {
    flex-shrink: 0;
    font-family: roboto;
    font-weight: 600;
    font-size: 15px;
    z-index: 0;
}

.dropdown-button button .arrow:before {
    content: "\f0d7";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.dropdown-button button.expand .arrow:before {
    content: "\f0d8";
}

.dropdown-button ul.list {
    position: absolute;
    display: none;
    width: 200px;
    max-height: 300px;
    top: calc(24.3px + .5em);
    left: 0;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    margin: 1em 0 0;
    padding: .85em 0;
    overflow-y: auto;
}

.dropdown-button ul.list li {
    padding: .5em 1.3em;
    font-family: roboto;
    font-weight: 400;
    font-size: 15px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.dropdown-button ul.list li.active,
.dropdown-button ul.list li:hover {
    background-color: #444;
    color: #fff;
}

#menuIcon {
    display: none;
    margin-left: 0.3em;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

#dd-close {
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    margin: .5em .5em 0 0;
    font-size: 22px;
    color: #555;
    line-height: 1;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

#dd-close:hover {
    color: #333;
}

#weather {
    position: absolute;
    display: flex;
    right: var(--container-space);
    bottom: var(--container-space);
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #454545;
    color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    line-height: 1;
    letter-spacing: .5px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
    z-index: 998
}

#weather .v {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

#weather #temp {
    display: block;
    text-align: center;
    padding-right: 8px;
    border-right: 1px solid #686868;
    font-size: 22px;
    font-weight: 600
}

#weather #temp sup {
    vertical-align: top;
    font-weight: 100;
    font-size: 15px
}

#weather #wind {
    display: inline-flex;
    gap: .3125em;
    align-items: center;
    padding-left: 8px;
    font-size: 13px
}

#weather #wind span {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.3
}

#weather #wind b {
    font-size: 16px
}

#weather #upd {
    font-size: 11px;
    color: #d1d1d1;
    letter-spacing: 0
}

a.mapboxgl-ctrl-logo {
    width: 60px;
    height: 15.68px;
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-bottom-left {
    left: var(--nav-width);
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 1em 1em 0 0;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
    margin: 0 0 1em 1em;
}

.mapboxgl-ctrl-group button {
    width: var(--mb-button-width);
    height: var(--mb-button-width);
}

.mapboxgl-ctrl button:not(.mapboxgl-ctrl-fullscreen) .mapboxgl-ctrl-icon {
    background-size: 90%;
}

.mapbox-gl-draw_ctrl-draw-btn,
.mapboxgl-ctrl-fullscreen .mapboxgl-ctrl-icon {
    background-size: 70%;
}

.mapboxgl-ctrl-group button.mapboxgl-ctrl-compass {
    cursor: pointer;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ed254e' width='300' height='300' viewBox='0 0 29 29'%3E%3Cpath d='M10.5 14l4-8 4 8h-8z'/%3E%3Cpath d='M10.5 16l4 8 4-8h-8z' fill='%23ddd'/%3E%3C/svg%3E");
}

#toggle3d {
    font-family: var(--roboto);
    font-weight: 800;
    font-size: 16px;
    user-select: none;
}

@media ((min-width: 641px) and (max-height: 490px)) or ((max-width: 640px) and (max-height: 450px)) {
    .mapboxgl-ctrl-top-right .mapboxgl-ctrl-group:last-child {
        display: none;
    }
}

@media (max-width: 640px) {
    :root {
        --mb-button-width: 29px;
    }

    .mapboxgl-ctrl-group button {
        width: var(--mb-button-width);
        height: var(--mb-button-width);
    }

    .mapboxgl-ctrl button .mapboxgl-ctrl-icon,
    .mapbox-gl-draw_ctrl-draw-btn {
        background-size: auto;
    }

    #weather #temp {
        border-right: 0;
        padding-right: 0;
        font-size: 18px;
    }

    #weather #temp sup {
        font-size: 14px;
    }

    #weather #wind {
        display: none;
    }
}

@media (max-width: 600px) {
    @media (min-height: 500px) {
        nav ul {
            gap: 2em
        }
    }

    :root {
        --nav-width: 40px
    }

    nav {
        max-width: 40px
    }

    nav ul {
        padding: 1em .5em
    }

    nav ul li i {
        font-size: 16px
    }

    nav ul li span {
        display: none
    }

    nav .nav-wrapper .logo img {
        padding: 0 4px
    }

    #close-navbar {
        display: none
    }

    .filter-controls {
        width: calc(100% - var(--nav-width) - calc(2 * var(--container-space)));
    }

    .mapboxgl-ctrl-top-right {
        bottom: calc(41px + calc(2 * var(--container-space)));
        top: unset;
    }

    .mapboxgl-ctrl-top-right .mapboxgl-ctrl-group:last-child {
        display: none;
    }
}

@media (max-width: 500px) {
    .filter-controls {
        width: calc(100% - calc(2* var(--container-space)));
        left: var(--container-space);
    }

    #menuIcon, #dd-close {
        display: block;
    }

    nav {
        left: -300px;
        max-width: 300px;
    }

    nav.open {
        left: 0px;    
    }

    nav ul {
        padding: 1em;
    }

    nav ul li {
        flex-direction: row;
        gap: 2em;
    }

    nav ul li i {
        width: 12.5px;
        font-size: 20px;
    }

    nav ul li span {
        display: block;
        font-size: 15px;
    }

    nav .nav-wrapper .logo {
        padding: 1em;
        justify-content: center;
    }

    .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-bottom-left {
        left: var(--container-space);
    }
}