a,
a:visited {
    color: var(--light-blue);
    text-decoration: none;
    transition: all .15s ease-in-out;
}

a:hover,
a:visited:hover {
    color: var(--red);
}

.logo {
    z-index: 999;
    position: absolute
}

.btn {
    color: #fff !important;
    cursor: pointer
}

#close,
#menu,
.logo {
    position: absolute
}

#close,
.btn {
    transition: .15s ease-in-out;
    user-select: none
}

#menu .item h2,
#menu h1,
#modal h1,
body {
    font-family: roboto
}

#close,
#modal,
.btn {
    user-select: none
}

* {
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #888 #ffffff
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

::-webkit-scrollbar-thumb {
    background-color: #b5b5b5;
    border-radius: 10px;
    border: 0;
}

.logo {
    top: 0;
    left: 0;
    margin: 1em 0 0 1em;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(10 10 10 / 20%);
}

#close,
.zoom-controls {
    margin: 1em 1em 0 0;
}

.zoom-controls button {
    width: 28px;
    height: 28px;
}

.zoom-controls {
    z-index: 9989;
}

.zoom-controls button.query .ctrl-icon:after {
    content: '\f002';
    font-family: "Font Awesome 6 Pro";
    font-weight: 600;
    font-size: 14px;
    line-height: 1.75;
}

.search {
    position: absolute;
    display: none;
    align-items: center;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2em);
    max-width: 350px;
    padding: 0 1em;
    border: 1px solid #111;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    z-index: 9990;
}

.search input#search {
    display: inline-block;
    width: 100%;
    margin: 0 0 0 0.25em;
    padding: 0.75em;
    font-family: 'Roboto';
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: 0;
    outline: none;
}

.search-results {
    position: absolute;
    display: none;
    top: calc(1em + 45px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 2em);
    max-width: 350px;
    height: auto;
    max-height: 250px;
    padding: 0;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgb(10 10 10 / 10%);
    overflow-y: auto;
    z-index: 9990;
}

.search-results #result {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    transition: all .15s ease-in-out;
    user-select: none;
}

.search-results #result:last-child {
    border-bottom: 0;
}

.search-results #result span {
    flex: 0 0 90px;
    margin-left: 1em;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    color: var(--blue-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
}

.search-results #result.none {
    cursor: default;
}

.search-results #result:hover {
    background-color: #f5f5f5;
}

.search-results #result.none:hover {
    background-color: #fff;
}

input.text {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
    padding: 0.5em 0.75em;
    font-family: 'Roboto';
    font-size: 16px;
    outline: none;
}

.btn {
    display: inline-flex;
    background-color: var(--blue);
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border-radius: .35em;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(29 52 97 / 40%)
}

.btn:hover {
    color: #fff !important;
}

.btn i {
    padding-right: 1em
}

.btn.dark {
    background-color: #282829;
    box-shadow: 0 0 10px rgb(10 10 10 / 40%)
}

select {
    display: block;
    width: 185px;
    margin: -10px auto 10px;
    padding: 6px 8px;
    border: 1px solid #dedede;
    border-radius: 5px;
    font-family: Roboto;
    font-size: 16px;
    outline: 0
}

#menu,
#modal {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    overflow-y: auto
}

.mitem-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5em;
    bottom: 0;
    right: 0;
    margin: 0 1em 1em 0;
    z-index: 999;
}

.mitem {
    /*position: absolute;*/
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /*bottom: 0;
    right: 0;*/
    width: 42.5px;
    height: 42.5px;
    /*margin: 0 1em 1em 0;*/
    color: #fff;
    background-color: var(--blue-gray);
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgb(10 10 10 / 50%);
    cursor: pointer;
}

#table {
    /*bottom: 2.5em;*/
    background-color: var(--red);
}

#areas {
    /*bottom: 5em;*/
    background-color: var(--light-blue);
}

#myfavorites {
    /*bottom: 7.5em;*/
    background-color: var(--orange);
}

#user {
    /*bottom: 10em;*/
    background-color: #222;
}

#menu,
#modal,
.sz {
    padding: 1em
}

#menu {
    top: 1em;
    right: 70px;
    width: 100%;
    max-width: 350px;
    height: calc(100% - 4em);
    max-height: 500px;
    box-shadow: 0 0 30px rgb(10 10 10 / 50%);
    font-family: noto sans;
    font-size: 16px;
    z-index: 9999
}

#close,
.slider {
    top: 0;
    cursor: pointer;
}

#close {
    right: 0;
    color: #aaa;
}

#close:hover {
    color: #555;
}

#close:after {
    content: '\f00d';
    font-family: 'Font Awesome 6 Pro';
    font-size: 22px;
    font-weight: 300;
    line-height: 1;
}

#menu h1,
#modal h1 {
    display: inline-flex;
    font-size: 24px;
    margin: 0 0 1em;
}

#modal h1 {
    width: calc(100% - 38px);
}

#modal h4 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 0.5em 0;
    font-size: 18px;
}

.boxes,
.rows,
.sz {
    margin-top: 1em;
}

#menu .item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5em;
}

#menu .item .t {
    flex: 1 1 auto
}

#menu .item:last-child {
    margin-bottom: 0
}

#menu .item h2 {
    margin: 0 0 5px;
    font-size: 17px;
    letter-spacing: .5px;
    color: var(--orange)
}

#menu .item .s {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    width: 40px
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px
}

#modal,
#modal svg,
.slider,
.slider:before {
    position: absolute
}

.boxes,
.boxes .ea,
.line,
.rows {
    display: flex
}

.boxes,
.line,
.sz {
    width: 100%
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.slider {
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #444;
    transition: .4s;
    border-radius: 16px
}

.slider:before {
    content: '';
    top: -3px;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    opacity: 1;
    background-color: #aaa;
    transition: .4s
}

input:checked+.slider {
    background-color: #69cd42
}

input:checked+.slider:before {
    left: unset;
    right: 0;
    background-color: #eee
}

.webcam {
    width: 100%;
    max-width: 328px;
    height: auto;
    margin: 0 auto;
}

#modal {
    flex-direction: column;
    top: 1em;
    left: 7em;
    width: calc(100% - 72px);
    max-width: 475px;
    height: calc(100% - 114px);
    max-height: 570px;
    box-shadow: 0 .25rem .3125rem #0003, 0 .4375rem .625rem rgb(0 0 0 / 14.1%), 0 .125rem 1rem rgb(0 0 0 / 12.2%);
    z-index: 9990;
    overflow-x: hidden;
}

#modal.full {
    height: calc(100% - 2em);
    max-height: unset;
    overflow-y: hidden;
}

#modal .wrapper {
    height: 100%;
}

#modal h1 span.rc {
    display: inline-block;
    width: 8px;
    height: 40px;
    margin-right: .5em;
    background-color: transparent
}

#modal svg {
    top: -4px;
    right: 3em
}

span.updated {
    display: block;
    color: #aaa;
    text-align: center;
    font-size: 13px;
}

.rows {
    flex-direction: column;
    gap: .75em;
    font-size: 1em;
}

.line {
    justify-content: space-between;
}

.line.m {
    flex-direction: column;
    gap: 0.75em;
}

.line .de {
    flex: 0 0 auto;
    font-weight: 600;
    color: #888;
    letter-spacing: 0.03em;
}

.line span {
    position: relative;
    flex: 1 0;
    text-align: right;
}

.line span.bi {
    color: var(--red);
    text-transform: uppercase;
    font-weight: 600;
}

#modal small,
.sz,
span.bottom {
    text-align: center
}

.line.m span {
    text-align: left
}

.chreq {
    margin-top: 0;
    text-align: center;
    background-color: var(--red);
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
}

.sz {
    background-color: #fdb000;
    box-shadow: 0 0 10px rgb(10 10 10 / 20%);
    border: 1px solid #eda502;
    border-radius: 15px;
}

.sz h3 {
    margin: 0 -0.5em 0 0;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.sz p {
    margin: 0.5em 0 0;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 0.75em 4em;
    font-size: 18px;
    text-transform: uppercase;
}

#modal small {
    font-style: italic;
    color: #454545;
    margin-top: 2em;
}

.boxes {
    flex-wrap: wrap;
    gap: 1em
}

.boxes .ea {
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 33.33%
}

.boxes .ea span {
    margin-bottom: 5px;
    font-size: 14px;
    color: #555
}

.boxes .ea p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--dark-orange)
}

span.bottom {
    margin-top: 2em;
    font-size: 13px;
    color: #aaa
}

.backdrop {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
    backdrop-filter: blur(2px);
    z-index: 9990;
}

.snackbar {
    position: absolute;
    bottom: -10em;
    left: 1em;
    width: calc(100% - 2em);
    max-width: 400px;
    padding: 1em;
    background-color: #362f2f;
    line-height: 1.3;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(15 15 15 / 50%);
    z-index: 99999;
}

.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4em);
    max-width: 400px;
    height: auto;
    min-height: 150px;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 25px;
    box-shadow: 0 0 15px rgb(10 10 10 / 15%);
    overflow: hidden;
    z-index: 99999;
}

.dialog h1 {
    margin: 0 0 0.75em 0;
    font-size: 22px;
}

.dialog p {
    margin: 0 0 0.75em 0;
    line-height: 1.3;
}

.dialog .buttons {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.dialog .buttons .cta {
    display: inline-flex;
    padding: 0.5em 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
    cursor: pointer;
    border-radius: 5px;
}

.dialog .buttons .cta:hover {
    color: #192846;
}

ul.tabs {
    list-style: none;
    display: inline-flex;
    width: calc(100% - 2em);
    margin: 0;
    padding: 0;
    align-items: center;
    overflow-x: auto;
}

ul.tabs::-webkit-scrollbar {
    height: 1px;
}

ul.tabs li {
    margin: 0;
    padding: 0.7em 1.5em;
    font-weight: 600;
    font-size: 15px;
    color: #444;
    text-align: center;
    border-bottom: 3px solid #f9f9f9;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
}

ul.tabs li.active {
    border-bottom-color: var(--dark-orange);
}

.tab-content {
    display: block;
    margin-top: 1em;
    height: calc(100% - 4em);
    overflow-y: auto;
}

.tab-content .content {
    display: none;
    margin-right: 1em;
}

.tab-content .content.active {
    display: block;
}

.rwis-card,
.inc-card,
.wwa-card {
    display: flex;
    gap: 1em;
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px rgb(100 100 100 / 10%);
    cursor: pointer;
}

.inc-card, .wwa-card {
    flex-direction: column;
}

.rwis-card:last-child,
.inc-card:last-child,
.wwa-card:last-child {
    margin-bottom: 0;
}

.rwis-card .temp {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background-color: var(--blue);
    border-radius: 50%;
}

.rwis-card .wrap {
    flex: 1;
    width: 100%;
}

.rwis-card .wrap h2,
.inc-card .wrap h2,
.wwa-card .wrap h2 {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-orange);
}

.rwis-card .wrap .rows {
    font-size: 15px;
}

.rwis-card svg {
    right: 4em !important;
}

.hrly {
    display: flex;
    margin-top: 0.5em;
    min-height: 142px;
    max-width: calc(100% - 2.6em);
    overflow-x: auto
}

.hrly .tp {
    flex: 1;
    padding: 0 1em;
    text-align: center
}

.hrly .tp h3 {
    margin: 0.3em 0;
    font-family: roboto;
    font-size: 18px
}

.hrly .tp p {
    margin: 0.5em 0 0 0;
    color: var(--blue-gray);
    font-family: noto sans
}

.daily {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1em;
    overflow-y: auto;
}

.daily .tp {
    display: flex;
    flex-direction: column;
}

.daily .tp .head {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.daily .tp .head h3 {
    flex: 1 1 50%;
    margin: 0;
    font-family: roboto;
    font-size: 18px;
}

.daily .tp .head p {
    flex: 1 1 75px;
    margin: 0;
    color: var(--red);
    font-family: noto sans;
    text-align: center;
}

.favorite,
.unfavorite {
    display: block;
    padding: 0.5em;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.unfavorite {
    color: #aaa;
}

.favorite {
    color: var(--orange);
}

.vmsMsg {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.75em;
    background-color: #333;
    color: rgb(255 255 59);
    font-family: 'Roboto';
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
}

ul#userMenu {
    position: absolute;
    list-style: none;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 150px;
    height: auto;
    max-height: 216px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 5px rgb(10 10 10 / 35%);
    overflow-y: auto;
    z-index: 9998;
}

ul#userMenu::-webkit-scrollbar {
    width: 3px;
}

ul#userMenu::-webkit-scrollbar-thumb {
    border-radius: 0;
}

ul#userMenu li {
    transition: all .15s ease-in-out;
    cursor: pointer;
}

ul#userMenu li.head,
ul#userMenu li.head:hover {
    padding: 0.75em 1em;
    background-color: #555;
    color: #fff;
}

ul#userMenu li.head span {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

ul#userMenu li:first-child {
    border-radius: 4px 0 0 0;
}

ul#userMenu li:last-child {
    border-radius: 0 0 4px 4px;
}

ul#userMenu li:hover {
    background-color: #f9f9f9;
}

ul#userMenu li a {
    display: block;
    padding: 0.75em 1em;
    color: var(--blue);
    transition: all .15s ease-in-out;
}

ul#userMenu li:hover a,
ul#userMenu li a:hover {
    color: #333;
}

.leaflet-marker-icon.vms div {
    font-size: 3.5px!important;
}

@media (max-width: 768px) {
    #modal {
        top: unset;
        bottom: 0px;
        left: 0px;
        width: 100%;
        max-width: 100%;
        height: calc(100% - 3em);
        max-height: 600px;
    }
}

@media (max-width: 600px) {
    .search, .search-results {
        left: calc(80px + 2em);
        transform: unset;
        width: calc(100% - 4em - 108px);
        max-width: unset;
    }

    #menu {
        right: 1em;
        max-width: calc(100% - 2em);
    }

    /*#modal {
        width: calc(100% - 2em);
        max-width: 100%;
        left: 1em;
    }*/

    .mitem {
        /*margin: 0 1em 0.75em 0;*/
        width: 34px;
        height: 34px;
        font-size: 14px;
    }

    /*#table {
        bottom: 2.75em;
    }

    #areas {
        bottom: 5.5em;
    }

    #myfavorites {
        bottom: 8.25em;
    }

    #user {
        bottom: 11em;
    }*/

    ul#userMenu {
        max-height: 188px;
    }
}

@media (max-width: 430px) {
    .search-results #result {
        flex-direction: column;
        text-align: center;
    }

    .search-results #result span {
        flex: 0;
        margin: 1em 0 0 0;
    }
}

@media (max-width: 375px) {
    .logo {
        height: 55px;
    }

    .search, .search-results {
        left: calc(55px + 2em);
        width: calc(100% - 4em - 83px);
    }
}

@media (max-width: 320px) {
    #menu .item {
        flex-direction: column;
    }

    #menu .item .t {
        text-align: center;
    }

    #menu .item .s {
        flex: 1 1 auto;
        width: 100%;
    }
}