:root {
    --card-width: 350px;
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 16px;
}

body {
    background: linear-gradient(90deg, #434343, #000);
}

.logo {
    height: 50px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 2em;
}

h1.title {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #fff;
    padding: 0;
    margin: 0;
}

header,
main {
    padding: 1em;
}

.header {
    display: inline-flex;
    gap: 1em;
    margin-bottom: 2em;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.header>* {
    flex: 0 1 auto;
}

main {
    display: block;
}

footer {
    display: block;
    text-align: center;
    margin-top: 5em;
    font-size: 14px;
    color: #fff
}

#weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2em;
    width: auto;
}

#weather .station {
    flex: 1;
    min-width: var(--card-width);
    max-width: 413.33px;
    padding: 1em;
    background-color: #444;
    border-radius: 1em;
    box-shadow: 0 0 20px rgb(0 0 0 / 50%);
    min-height: 150px;
}

#weather .station.unavail {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1em 2em;
}

#weather .station .btn {
    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #252525;
    color: #fff;
}

#weather .station .btn:hover {
    background-color: #121212;
}

#weather .station h2 {
    display: inline-flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-bottom: 4px;
    color: var(--blue-gray);
    font-size: 1.3rem;
    font-weight: 500;
    border-bottom: 1px solid var(--blue-gray);
}

#weather .station h2 span {
    font-size: 14px;
    color: #bbb;
    font-weight: 100;
}

#weather .station .components {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#weather .station .components>div {
    display: flex;
    justify-content: center;
    flex: 1;
    min-height: 50px;
}

#weather .station .components .snow {
    flex-direction: column;
}

#weather .station .snow .item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    padding: 0.25em;
}

#weather .station .snow .item.hs {
    background-color: rgb(1 175 241 / 10%);
}

#weather .station .snow label {
    color: #a7a7a7;
    font-size: 14px;
    text-transform: uppercase;
}

#weather .station .snow .value {
    text-align: center;
    color: var(--orange);
    font-size: 1.5rem;
}

#weather .station .snow .value .cm {
    padding-left: 2px;
    font-size: 15px;
}

#weather .station .temp {
    position: relative;
    display: inline-block;
    font-size: 5rem;
    color: #fff;
    font-weight: 600;
}

#weather .station sup.unit {
    position: absolute;
    top: 0em;
    margin-left: 0.1em;
    font-size: 1.75rem;
    font-weight: 400;
}

#weather .station .updated {
    display: block;
    margin-top: 1em;
    text-align: center;
    color: #777;
    font-size: 14px;
}

.toggle {
    display: inline-flex;
    cursor: pointer
}

.toggle span {
    padding: 0.5em 1em;
    background-color: #ccc;
    border-radius: 0 6px 6px 0;
    color: #111;
    text-align: center
}

.toggle span:first-child {
    border-radius: 6px 0 0 6px
}

.toggle span.selected {
    background-color: #234483;
    color: #fff
}

@media(max-width: 1370px) {
    #weather {
        justify-content: center;
    }

    #weather .station {
        max-width: 500px;
        flex: 0 1 calc(50% - 1em)
    }
}

@media(max-width: 827px) {
    header {
        text-align: center
    }

    #weather .station {
        max-width: unset;
        flex: 1 1 auto;
    }
}

@media(max-width: 500px) {
    .header {
        flex-direction: column;
    }

    #weather .station {
        min-width: unset;
        flex: 1 0 100%
    }

    #weather .station .temp {
        font-size: 4rem
    }
}

@media(max-width: 425px) {
    h1.title {
        font-size: 1.75rem;
    }
}

@media(max-width: 395px) {
    #weather .station h2 {
        flex-wrap: wrap;
        gap: 0.25em
    }

    #weather .station h2>* {
        flex: 1 1 100%;
        text-align: center
    }

    #weather .station .components {
        flex-wrap: wrap
    }

    #weather .station .components>div {
        flex: 1 1 100%
    }
}