@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes openModal {
    0% {
        top: 100%;
    }

    100% {
        top: 50px;
    }
}

@keyframes closeModal {
    0% {
        top: 50px;
    }

    100% {
        top: 100%;
    }
}

@keyframes searchDown {
    0% {
        top: -50px;
    }

    100% {
        top: 10px;
    }
}

@keyframes openImpact {
    0% {
        display: flex;
        width: 0;
    }

    100% {
        width: calc(100% - 53px);
    }
}

a.footer-link {
    color: #cbcbcb;
    text-decoration: underline;
}

b,
strong {
    line-height: 1.3;
    font-weight: 500;
}

.btn {
    font-family: var(--roboto) !important;
}

.dropdown-button {
    position: relative;
    display: flex;
    flex: 0 0 auto;
}

.dropdown-button button.dd {
    display: inline-flex;
    gap: var(--spacing);
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: .85em 1.5em;
    border: 0;
    outline: none;
    cursor: pointer;
    user-select: none;
}

.dropdown-button .dd .label {
    flex-shrink: 0;
    font-family: roboto;
    font-weight: 600;
    font-size: 15px;
    z-index: 0;
}

.dropdown-button button .arrow:before {
    content: "\f0d7";
    font-family: "Font Awesome 6 Pro";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.dropdown-button button.expand .arrow:before {
    content: "\f0d8";
}

.dropdown-button ul.list {
    position: absolute;
    display: none;
    width: 200px;
    max-height: 300px;
    top: calc(24.3px + .5em);
    left: 0;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    margin: var(--spacing) 0 0;
    padding: .85em 0;
    overflow-y: auto;
}

.dropdown-button ul.list li {
    padding: .5em 1.3em;
    font-family: roboto;
    font-weight: 400;
    font-size: 15px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.dropdown-button ul.list li.active,
.dropdown-button ul.list li:hover {
    background-color: #444;
    color: #fff;
}

.archived {
    display: inline-flex;
    gap: var(--spacing);
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: var(--spacing);
    padding: var(--spacing);
    color: #fdfdfd;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: rgb(219 81 58 / 60%);
    border-radius: 3px;
}

.message {
    display: inline-flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
    letter-spacing: .1px;
    color: #333;
    border-radius: 6px;
}

.message.full {
    width: 100%;
}

.message:not(.no-icon):before {
    font-family: "Font Awesome 6 Pro";
    font-style: normal;
    font-variant: normal;
}

.message.banner:not(.no-icon):before {
    margin-right: 0.5em;
}

.message.error {
    background-color: color-mix(in srgb, #d63939 35%, transparent);
    border-color: color-mix(in srgb, #d63939 20%, transparent);
}

.message.error:not(.no-icon):before {
    content: "\f06a";
    color: #d63939;
}

.message.success {
    background-color: color-mix(in srgb, #2fb344 35%, transparent);
    border-color: color-mix(in srgb, #2fb344 20%, transparent);
}

.message.success:not(.no-icon):before {
    content: "\f058";
    color: #2fb344;
}

.banner {
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    top: calc(var(--spacing) - 3px);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 15px;
    padding: 2px .75em 2px calc(.75em - 6px);
    background-color: rgb(50 50 50 / 90%);
    border-color: rgb(50 50 50 / 100%);
    color: #f1f1f1;
    z-index: 998;
}

.banner a {
    color: var(--box-orange);
    padding: 6px;
}

.banner a:hover {
    color: var(--box-orange-hover);
}

.evacs {
    margin: 0 0 2em 0;
}

.evac {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 0.5em 0;
    border-radius: 8px;
    color: #333;
    background-color: rgb(2 130 58 / 20%);
    transition: all .15s ease-in-out;
}

.incident .evac {
    color: #efefef;
}

.evac .evacTitle {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--half-spacing);
}

.evac h3 {
    font-size: 18px;
}

.evac summary {
    position: relative;
    list-style: none;
    padding-left: 1.5em;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.evac details[open]>summary {
    margin-bottom: 0.5em;
}

.evac summary::-webkit-details-marker {
    display: none;
}

.evac summary::before {
    content: '▶';
    position: absolute;
    top: 1px;
    left: 0;
    font-size: 13px;
    color: #262626;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.incident .evac summary::before {
    color: #cbcbcb;
}

.evac details[open] summary::before {
    content: '▶';
    transform: rotate(90deg);
}

.evac.level2 {
    background-color: rgb(237 214 1 / 25%);
}

.evac.level3 {
    background-color: rgb(230 0 0 / 25%);
}

span.evac-circ {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 0.5em;
    user-select: none;
    background-color: #02823a;
    box-shadow: 0 0 10px rgb(2 130 58 / 80%);
    opacity: 0.6;
}

span.evac-circ.l2 {
    background-color: #edd601;
    box-shadow: 0 0 10px rgb(237 214 1 / 80%);
}

span.evac-circ.l3 {
    background-color: #e60000;
    box-shadow: 0 0 10px rgb(230 0 0 / 80%);
}

.popup {
    display: block;
    position: absolute;
    left: 50%;
    bottom: var(--spacing);
    transform: translateX(-50%);
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: var(--spacing);
    overflow: hidden;
    z-index: 996;
}

.popup a {
    color: var(--light-blue);
}

.popup .content {
    max-height: calc(100vh / 2);
    background: var(--box-border);
    padding: var(--spacing);
    border-radius: 5px;
    color: var(--box-text-color);
    box-shadow: -7px 8px 9px 1px rgb(0 0 0 / 15%), 7px 8px 9px rgb(0 0 0 / 15%), 3px -6px 8px 0px rgb(0 0 0 / 10%);
    overflow-x: hidden;
    overflow-y: auto;
}

.popup .content::-webkit-scrollbar {
    width: 4px;
}

.popup .content::-webkit-scrollbar-thumb {
    background: #ccc;
}

.popup .content::-webkit-scrollbar-thumb:hover {
    background: #bbb;
}

.popup .header {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    gap: var(--spacing);
    margin-bottom: var(--spacing);
}

.popup .header h1 {
    font-size: 16px;
    color: var(--box-orange);
}

.popup #close-popup {
    color: #bdbdbd;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.popup #close-popup:hover {
    color: #6c6c6c;
}

.popup .item {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: 14px;
}

.popup .item:only-child,
.popup .item:last-child {
    margin-bottom: 0;
}

.popup .item .t {
    min-width: 110px;
    font-weight: 400;
    color: var(--box-text-color);
}

.popup .item .v {
    display: inline-flex;
    color: #e9e9e9;
    text-align: right;
    line-height: 1.2;
}

.popup .item .v b {
    line-height: 1.2 !important;
}

.popup.tall .item {
    flex-wrap: wrap;
}

.popup.tall .item .t {
    width: 100%;
    font-weight: 500;
}

.popup.tall .item .v {
    text-align: left;
}

#modal img {
    display: block;
    width: 100%;
    height: auto;
}

#modal img.mapoIncPhoto {
    width: auto;
    max-width: 100%;
    max-height: 225px;
    margin: 0 auto;
}

.graph-svg-tip ul.data-point-list li {
    line-height: 1.5;
}

.spc {
    max-width: 119px;
    padding: 1px 4px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#spinner,
.loading .s {
    width: 30px;
    height: 30px;
    display: inline-block;
    border: 3px solid rgb(241 143 1 / 80%);
    border-top-color: rgb(241 143 1 / 20%);
    animation: spin 1.1s infinite linear;
    border-radius: 100%;
    opacity: 1;
}

.loading .s {
    animation: spin2 1.1s infinite linear;
}

#spinner.sm {
    width: 30px;
    height: 30px;
    border-width: 3px;
}

#spinner.centered {
    display: block;
    margin: 0 auto;
}

ul.new_fires {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    list-style: none;
}

.new_fires li {
    display: flex;
    width: 100%;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.new_fires li .pert {
    display: inline-flex;
    flex-direction: column;
    gap: 0.3em;
}

.new_fires li .pert h3 {
    font-size: 17px;
    color: var(--blue);
}

.new_fires li .pert .near {
    color: #66757e;
    font-size: 14px;
    line-height: 1.3;
}

.new_fires li .disc {
    color: #606060;
    font-size: 14px;
    text-align: right;
}

.slider {
    display: flex;
    width: 100%;
    max-width: 210px;
    height: 20px;
    background: #e9e9e9;
    border-radius: 3px;
    outline: 0;
    transition: opacity .2s;
    appearance: none;
}

.slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: var(--green);
    border-radius: 3px;
    appearance: none;
    cursor: pointer;
}

select {
    display: block;
    width: 100%;
    padding: 4px 8px;
    font-family: var(--roboto);
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: 0;
}

#impact {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: var(--nav-width);
    width: calc(100% - 53px);
    max-width: 475px;
    height: 100%;
    color: var(--box-text-color);
    background-color: var(--container-color);
    border-radius: 0 4px 4px 0;
    box-shadow: 4px 0 15px rgb(0 0 0 / 20%), -4px 4px 15px rgb(0 0 0 / 20%);
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 9998;
}

#impact::-webkit-scrollbar {
    width: 4px;
}

#impact p {
    line-height: 1.3;
}

#impact header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    max-width: 100%;
    padding: 20px;
    min-height: 50px;
    background: 0;
}

#impact header {
    border-radius: 5px 5px 0 0;
}

#impact header h3.title {
    display: flex;
    flex: 1;
    font-family: var(--roboto);
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0;
    color: #fff;
    max-width: 395px;
    transition: .15s ease-in-out;
}

#impact #mclose {
    display: flex;
    width: 50px;
    height: 25px;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 25px;
    color: var(--close-color);
    transition: var(--color-transition);
    cursor: pointer;
}

#impact #mclose.back {
    height: unset;
    justify-content: flex-start;
    font-size: 18px;
}

#impact #mclose:hover {
    color: var(--hover-close-color);
}

#impact .content {
    display: block;
    padding: 0 calc(var(--spacing) * 1.5) calc(var(--spacing) * 1.5);
}

.group {
    margin-top: var(--spacing);
}

.group:first-child {
    margin-top: 0;
}

.group h3.group-title {
    padding: .4em;
    margin-bottom: var(--spacing);
    font-weight: 600;
    font-family: var(--roboto);
    font-size: 18px;
    letter-spacing: 0.35px;
    text-transform: uppercase;
    background-color: var(--box-border);
    color: #fff;
    border-radius: 3px;
}

.dark-input {
    display: inline-flex;
    align-items: center;
    width: 100%;
    background-color: var(--box-border-light);
    border-radius: 4px;
}

#layerSearch {
    display: block;
    width: inherit;
    padding: 8px;
    font-family: 'Roboto';
    font-size: 16px;
    background: transparent;
    color: #f1f1f1;
    border: 0;
    outline: none;
}

#layerSearch::selection {
    color: #000;
    background-color: #9ed2ff;
}

#layerSearch::placeholder {
    color: #e3e3e3;
}

.clearSearch {
    padding: 0 var(--half-spacing);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.layers-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.layers-list li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--double-spacing);
    border-top: 1px solid var(--box-border);
    padding-top: var(--spacing);
}

.layers-list li.more-zoom {
    opacity: 0.5;
}

.layers-list.bm li {
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.group .layers-list li {
    margin: 0 .5em;
}

.layers-list li:first-child {
    padding-top: 0;
    border-top: 0;
}

.layers-list li {

    .checkbox,
    .radio {
        flex: 1 0 16px;
        max-width: 16px;
        margin-top: .05em;
    }

    .radio input[type=radio]:checked:before,
    .checkbox input[type=checkbox]:checked:before {
        border-color: var(--box-orange);
        background-color: var(--box-orange);
    }

    .radio input[type=radio]:before,
    .checkbox input[type=checkbox]:before {
        border-color: var(--box-border);
        background-color: #3c4c66;
    }

    .desc {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        gap: .5em;
    }

    .desc img {
        width: 55px;
    }

    .desc label {
        font-size: 18px;
        color: #b8dbe5;
        font-weight: 500;
        cursor: pointer;
        letter-spacing: 0.3px;
    }

    .desc span {
        font-size: 14px;
        color: var(--box-text-color);
        line-height: 1.2;
    }

    select {
        flex: 1;
        border: 1px solid #394b64;
        background-color: var(--box-border-light);
        color: #fff;
    }

    select:disabled {
        color: #919eab;
        background: #242d3a;
    }
}

.layers-list.bm li .desc {
    flex-direction: row;
    align-items: center;
    gap: var(--double-spacing);
}

.layers-list.bm li .desc label {
    display: inline-flex;
    flex-direction: column;
    gap: 0.5em;
}

.layers-list.bm li .desc label p {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    color: #18344c;
    line-height: 1 !important;
    background-color: var(--yellow);
    border-radius: 3px;
    cursor: default;
}

.data-filter {
    display: inline-flex;
    gap: 0.75em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: .5em 0 0;
    border-radius: 4px;
}

.data-filter i {
    display: block;
}

.data-filter div {
    display: inline-flex;
    gap: 0.5em;
    flex-wrap: wrap;
    width: 100%;
}

#pSize {
    display: flex;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}

.alert {
    position: absolute;
    bottom: 0;
    left: var(--nav-width);
    display: none;
    align-items: center;
    gap: var(--spacing);
    width: 425px;
    max-width: calc(100% - var(--nav-width) - calc(1.5em * 3));
    margin: 0 0 var(--spacing) var(--spacing);
    padding: var(--spacing);
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    z-index: 9999;
}

.alert.mo {
    left: 0;
}

.alert p {
    font-size: 14px;
    letter-spacing: .4px;
    line-height: 1.3;
}

.alert p a,
.alert p a:visited {
    font-size: 15px;
    color: #ffb345;
}

.alert.success i {
    color: var(--green);
}

.alert.error i {
    color: var(--red);
}

.alert.info i {
    color: var(--light-blue);
}

#settings {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing);
}

#settings h2 {
    color: #e6e8e6;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: var(--half-spacing);
}

#settings select {
    padding: 5px;
    background: #314966;
    color: #fff;
    font-family: var(--roboto);
    font-size: 14px;
    max-width: 160px;
}

#settings .r {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0;
}

#settings .r .var {
    display: flex;
    flex: 1 1 auto;
    min-width: 50%;
    font-size: 15px;
    font-weight: 400;
}

#settings .r .input {
    display: flex;
    flex: 1 1 100%;
    max-width: 100%;
    justify-content: flex-end;
}

#sync {
    display: inline-flex;
    align-items: flex-start;
}

#sync i.fa-arrow-down-to-line {
    color: #a3d1a3;
    font-size: 17px;
}

#sync i.fa-arrow-up-to-line {
    color: #e3acac;
    font-size: 17px;
}

#sync span {
    padding-left: 10px;
    font-size: 13px;
    line-height: 1.2;
}

.ndfdLegend {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #fff;
    padding: .5em;
    border-radius: 5px 5px 0 0;
}

.my-fires {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    gap: var(--spacing);
    padding-inline-start: 0;
}

.my-fires li {
    display: block;
    background-color: var(--box-color);
    border: 1px solid var(--box-border);
    color: var(--box-text-color);
    border-radius: 6px;
    padding: var(--spacing);
    cursor: default;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-fires li h3 {
    color: var(--box-header-color);
    font-size: 16px;
    margin: 0;
}

.my-fires li:hover {
    border-color: var(--box-orange-hover);

    h3 {
        color: var(--box-orange);
    }
}

.my-fires li .header {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing);
}

.my-fires li .header i {
    font-size: 19px;
    color: var(--green);
    cursor: pointer
}

.my-fires .state {
    display: block;
    margin: .5em 0 var(--spacing) 0;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.3;
}

.my-fires .inf {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.my-fires .inf .status {
    font-weight: 400;
    font-size: 14px;
    padding: 4px 6px 3px 6px;
}

ul#search-results {
    position: absolute;
    top: calc(40px + .5em);
    left: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: var(--search-results-width);
    padding: .4em 0;
    height: auto;
    max-height: 350px;
    list-style: none;
    overflow-y: auto;
    z-index: 999;
}

ul#search-results::-webkit-scrollbar {
    width: 0px;
}

ul#search-results li {
    display: inline-flex;
    gap: var(--spacing);
    align-items: center;
    padding: .6em var(--spacing);
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

ul#search-results li.trending {
    justify-content: space-between;
}

ul#search-results li>div {
    display: inline-flex;
    gap: var(--spacing);
    align-items: center;
}

ul#search-results li span.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: var(--orange);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(50 50 50 / 10%);
}

ul#search-results li span.icon.fire {
    background-color: #dd3f3f;
}

ul#search-results li span.icon.none {
    background-color: transparent;
    box-shadow: none;
}

ul#search-results li h3 {
    display: inline-flex;
    flex-direction: column;
    gap: .4em;
    font-size: inherit;
    font-weight: 400;
    line-height: inherit;
}

ul#search-results li h3 span {
    font-size: 12px;
    color: #5a5a5a;
    letter-spacing: 0.2px;
}

ul#search-results li:not(.standby):hover {
    background-color: #eee;
}

ul#search-results li.standby {
    cursor: default !important;
}

ul#search-results li.standby i {
    color: var(--light-blue);
    animation: .9s linear infinite spin;
}

#modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: var(--nav-width);
    right: 0;
    width: calc(100% - var(--nav-width));
    height: -webkit-fill-available;
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    background: var(--data-color);
    color: #fff;
    border-radius: var(--spacing) var(--spacing) 0 0;
    box-shadow: 0 -2px 10px rgb(25 34 50 / 35%);
    transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 200ms ease;
    touch-action: none;
    overflow: hidden;
    z-index: 998;
}

#modal .close {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    padding: calc(var(--spacing) * 1.5);
    cursor: grab;
}

#modal .close .handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 50px;
    border-top: 4px solid var(--box-text-color);
    border-radius: 999px;
}

#modal .content {
    flex: 1 1 auto;
    padding: 0 var(--spacing);
    overflow-x: hidden;
    overflow-y: auto;
}

#modal .content::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    border-radius: 2px;
}

#modal .content::-webkit-scrollbar-thumb {
    background: var(--box-color);
    border-radius: 2px;
}

#modal .content::-webkit-scrollbar-track {
    background: var(--box-border);
    border-radius: 2px;
}

#modal .content .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

#modal .message,
#impact .message {
    color: #ededed !important;
}

#modal p,
#modal dd {
    line-height: 1.3;
}

#modal dd p {
    padding-bottom: var(--spacing);
}

#modal dd p:only-child,
#modal dd p:last-child {
    padding-bottom: 0;
}

#modal .grid {
    display: grid;
    width: 100%;
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    margin-bottom: calc(var(--spacing) * 1.5);
}

#modal .grid.cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#modal .grid.cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

#modal .grid.cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

#modal .grid.cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

#modal .card {
    background-color: var(--box-color);
    border: 1px solid var(--data-color);
    padding: var(--spacing);
    border-radius: 6px;
}

#modal a,
#modal a:visited {
    color: #8fbad9;
    overflow-wrap: wrap;
    word-break: break-all;
}

#modal a:hover,
#modal a:visited:hover {
    color: #eda776;
}

#modal .grid>div {
    position: relative;
    display: inline-flex;
    min-width: 0;
    height: 100%;
    flex-direction: column;
    gap: 0.75em;
    justify-content: space-around;
    border-radius: 4px;
    overflow: hidden;
}

#modal .grid>div.dispatch {
    gap: 2px;
}

#modal .grid>div.dispatch .label.large {
    font-size: 15px;
    line-height: 1.3;
}

#modal .grid.top-align>div {
    justify-content: flex-start;
}

#modal .grid>div .label {
    font-size: 14px;
    color: var(--box-text-color);
    letter-spacing: 0.5px;
    line-height: 1.1;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

#modal .grid>div h3 {
    margin-bottom: var(--spacing);
    font-size: 1.3rem;
    color: var(--box-header-color);
}

.label.icon.fa-tower-observation:before {
    font-weight: 400 !important;
}

#modal .grid>div .label.icon:before {
    content: var(--fa);
    display: inline-flex;
    align-items: center;
    margin-right: 0.75em;
    font-weight: 900;
    font-family: "Font Awesome 6 Pro";
}

.card.initial .label.icon:before {
    width: 18px;
}

#modal :not(.block)>.grid>div dd {
    flex: 1;
    color: #f1f1f1;
}

.card.initial dd {
    margin-left: calc(18px + 0.75em);
}

#modal .incident header,
#modal .wwa header {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);
    width: 100%;
    /*margin-bottom: var(--double-spacing);*/
}

#modal.firewx header {
    margin-bottom: var(--spacing);
}

#modal.firewx h2 {
    display: inline-block;
    margin: var(--spacing) 0;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--box-header-color);
    border-bottom: 1px solid rgb(237 77 0 / 45%);
    text-transform: uppercase;
}

#modal .content header .title {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
}

.incident .timestamps,
.wwa .timestamps {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    column-gap: 6px;
    margin: var(--double-spacing) 0;
    color: #cbd5e1;
    font-size: 15px;
    font-weight: 300;
    border-radius: 4px;
}

.incident .timestamps>span,
.wwa .timestamps>span {
    flex: 0 1 auto;
    line-height: 1.3;
}

.incident .timestamps>span:after,
.wwa .timestamps>span:after {
    content: '\00B7';
    padding-left: 6px;
}

.incident .timestamps>span:last-child:after,
.wwa .timestamps>span:last-child:after {
    content: '';
    padding-left: 0;
}

#modal .content header .tr {
    flex-shrink: 0;
}

#modal .content header .tr a.btn {
    flex: 0 1 auto;
    min-width: 172px;
}

.incident .fire-size {
    display: inline-flex;
    align-items: flex-end;
    gap: 3px;
    color: var(--red) !important;
}

.incident .blur {
    filter: blur(3px);
    user-select: none;
}

.incident .fire-size span {
    font-size: 24px;
}

.incident .containment {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing);
    width: 100%;
    max-width: 250px;
}

.incident .contain-bar {
    position: relative;
    display: block;
    width: 100%;
    height: 26px;
    border-radius: 6px;
    background-color: #384760;
    user-select: none;
}

.incident .contain-bar h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-weight: 400;
    z-index: 9;
    color: #fff !important;
}

.incident .contain-bar div {
    position: absolute;
    display: block;
    height: 100%;
    border-radius: 4px 0 0 4px;
    background-color: rgb(239 68 68 / 65%);
    z-index: 8;
}

.incident .contain-bar.progress div {
    background-color: rgb(16 185 129 / 65%);
}

.incident header .tray,
.wwa header .tray {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

.incident header h1,
.wwa header h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

.inciweb ul {
    margin: 0 1em 1em;
}

.inciweb ul li {
    line-height: 1.3;
}

.incident .social {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: var(--spacing);
    margin-top: 2em;
}

.incident .social i {
    font-size: 20px;
    cursor: pointer;
    transition: all .15s ease-in-out;
    user-select: none;
}

.incident .social i:hover {
    filter: brightness(0.65);
}

.incident .social .fa-facebook {
    color: #1877f2;
}

.incident .social .fa-x-twitter {
    color: #1da1f2;
}

.incident .social .fa-tiktok {
    color: #de8c9d;
}

.incident img.logo {
    width: 100%;
    max-width: 30px;
    height: auto;
    user-select: none;
}

#modal .content .desc {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing);
    color: var(--box-text-color);
}

#modal .content .desc span {
    display: block;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.3;
    letter-spacing: 0.25px;
}

.wwa .headline {
    display: block;
    padding: 12px var(--spacing);
    margin-bottom: var(--spacing);
    color: #f5f5f5;
    background-color: rgb(237 37 78 / 60%);
    border: 1px solid rgb(237 37 78 / 25%);
    border-radius: 4px;
    line-height: 1.2;
}

.incident .table {
    display: grid;
    gap: 1rem;
}

.incident .table[data-cols="3"] {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.incident .table[data-cols="4"] {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.incident .table>div {
    display: inline-flex;
    flex-direction: column;
}

.incident .table>div .label {
    text-align: center;
}

#acres_history {
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.incident #curwx,
.incident #fcstwx {
    justify-content: flex-start !important;
}

.incident #curwx .btn-group,
.incident #fcstwx .btn-group {
    margin: var(--spacing) 0 0 0;
}

.incident #curwx .table>div,
.incident #fcstwx .table>div {
    align-items: center;
    gap: 0.7em;
}

.incident #curwx .table>div h4,
.incident #fcstwx .table>div h4 {
    font-size: 24px;
    text-align: center;
}

#modal .grid #curwx>div .label,
#modal .grid #fcstwx>div .label {
    font-size: 12px;
}

.incident #curwx #a i,
.incident #curwx #b i,
.incident #curwx #c i,
.incident #fcstwx #a i,
.incident #fcstwx #b i,
.incident #fcstwx #c i,
.incident #fcstwx #d i {
    font-size: 18px;
    width: auto;
    max-height: 16px;
}

.incident #curwx #a i,
.incident #fcstwx #a i {
    color: #f44336;
}

.incident #curwx #b i,
.incident #fcstwx #b i {
    color: #22d3ee;
}

.incident #curwx #c i,
.incident #fcstwx #c i,
.incident #fcstwx #d i {
    color: #60a5fa;
}

.incident .acres_history {
    font-size: 15px;
    color: var(--box-text-color);
    margin: 0 0 var(--double-spacing) 0;
}

.incident .disclaimer {
    color: var(--box-text-color);
    margin-top: 4em;
    text-align: center;
    font-size: 12px;
}

.incident h2 {
    padding-left: 2px;
    margin-bottom: var(--half-spacing);
    color: var(--box-orange);
    font-size: 20px;
    font-weight: 400;
}

.incident .inciweb figure a,
a.figure {
    position: relative;
}

.incident .inciweb figure a:before,
a.figure:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0%);
    transition: background-color 180ms ease;
}

.incident .inciweb figure a:hover::before,
a.figure:hover::before {
    background-color: rgb(0 0 0 / 60%);
}

.incident .inciweb figure a:hover::after,
a.figure:hover::after {
    content: "\f065";
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 18px;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 6 Pro";
    color: #fff !important;
}

.incident .inciweb figure figcaption {
    margin-top: 6px;
    font-size: 13px;
    line-height: 1.3;
    text-align: center;
    color: var(--box-text-color);
}

.incident .block .row {
    margin-bottom: var(--double-spacing);
}

.incident .block .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--spacing);
}

.incident .block .text p {
    padding-bottom: var(--spacing);
}

.incident .block p:last-child {
    padding-bottom: 0;
}

.incident .block .col[data-width="25"] {
    flex: 1;
    max-width: 25%;
}

.incident .block .col[data-width="50"] {
    flex: 1;
    max-width: 50%;
}

.incident .block .col[data-width="75"] {
    flex: 1;
    max-width: 75%;
}

.incident .block .col[data-width="100"] {
    flex: 1;
    max-width: 100%;
}

.incident .fireStats {
    display: inline-flex;
    width: 100%;
    margin: var(--half-spacing) 11px 0 11px;
    gap: 1em;
    align-items: center;
    color: #c9d6df;
    font-size: 14px;
}

#modal #cursit .grid {
    grid-template-columns: 2fr 3fr;
}

p.updated {
    margin-top: var(--double-spacing);
    text-align: center;
    font-size: 12px;
}

#modal .card p.updated {
    color: #a7aeb1;
}

#modal.wwa .graphics {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--spacing);
}

#modal.wwa .graphics .g {
    flex: 0 1 auto;
}

#modal.wwa .graphics .g img {
    width: 100%;
    max-width: 288px;
}

.wwa-details p {
    margin-bottom: .75em;
    font-weight: 300;
}

.wwa-details p b {
    display: block;
    line-height: 1.3;
    margin-bottom: -13px;
}

.wwa-details p:last-child {
    margin-bottom: 0;
}

#data-form .disclaimer {
    text-align: center;
    font-size: 11px;
    line-height: 1.3;
    color: var(--blue-gray);
    margin-top: 3em;
}

span.status,
span.drought,
span.air_quality {
    display: inline-block;
    width: fit-content;
    color: #fff;
    padding: 6px 12px 5px 12px;
    border-radius: 3px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.4px;
    user-select: none;
}

span.status.active {
    background-color: #ca1010;
}

span.status.unknown {
    background-color: #a91990;
}

span.status.contained {
    background-color: #fd8c22;
}

span.status.controlled {
    background-color: #61a720;
}

span.status.out {
    background-color: #444;
}

.radar,
.spcTimeline {
    position: absolute;
    right: var(--container-space);
    bottom: calc(24px + calc(var(--container-space) * 2));
    width: 100%;
    max-width: 300px;
    padding: .5em var(--spacing);
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(15 15 15 / 20%);
}

.radar .radarControl,
.spcTimeline .tlcontrol {
    min-width: 16px;
    font-size: 21px;
    cursor: pointer;
    color: #444;
    transition: all .15s ease-in-out;
}

.radar .radarControl:hover,
.spcTimeline .tlcontrol:hover {
    color: #111;
}

.spcTimeline .tlcontrol.disabled {
    color: #c9c9c9;
    cursor: not-allowed;
}

.spcTimeline select {
    font-size: 16px;
    max-width: 130px;
    padding: 0;
    text-align: center;
}

.radar>div,
.spcTimeline>div {
    display: flex;
    align-items: center;
    gap: var(--spacing);
}

.radar>div .time {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.radar>div .time .tr {
    position: relative;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
}

.radar>div .time .tr .tick {
    position: absolute;
    border-left: 1px solid #444;
    width: 1px;
    height: 100%;
    margin-left: 8px;
}

.radar>div .time .tr .tick.short {
    height: 60%;
    border-color: #919191;
}

.radar input[type=range] {
    --val: 100%;
    width: 100%;
    height: 13px;
    margin-bottom: 1px;
    background: linear-gradient(to right, #777 0%, #777 var(--val, 0%), #d5d5d5 var(--val, 0%), #d5d5d5 100%);
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.radar input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 0;
    background-color: var(--orange);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.radar input[type=range]::-moz-range-thumb {
    border: 0;
    border-radius: 0;
    background-color: var(--light-blue);
    height: 14px;
    width: 14px;
    border-radius: 6px;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 85%);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 9999;
    filter: blur(1px);
}

#data-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2em);
    max-width: 500px;
    max-height: calc(100% - 3em);
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 25px rgb(10 10 10 / 25%);
    border: 1px solid rgb(183 183 183);
    z-index: 9999;
    overflow: hidden;
}

#data-form #exit {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.75em 0.75em 0 0;
    font-size: 20px;
    line-height: 1;
    color: #a3a3a3;
    user-select: none;
    transition: all .15s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

#data-form #exit:hover {
    color: #444;
}

#data-form .dn {
    flex: 1 1 calc(50% - 0.375em);
    min-width: 172px;
}

#data-form p {
    line-height: 1.3;
}

#data-form .wrapper::-webkit-scrollbar {
    width: 4px;
}

#data-form .wrapper {
    display: block;
    flex: 1 1 auto;
    height: 100%;
    padding: 2em;
    overflow-y: auto;
}

#data-form .wrapper.center {
    text-align: center;
}

#data-form h1 {
    font-size: 2.2rem;
    margin-bottom: 0.75em;
}

#data-form label {
    display: block;
    margin-bottom: .5em;
    font-size: 13px;
    font-weight: 500;
}

#data-form input[type=text],
#data-form select,
#data-form textarea {
    display: block;
    margin-bottom: .75em;
    width: 100%;
    padding: .5em;
    font-size: 16px;
    font-family: var(--roboto);
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    outline: none;
}

#data-form .filterEvacs {
    display: flex;
    gap: 0.5em;
    margin-bottom: var(--spacing);
}

#data-form .filterEvacs select {
    margin: 0;
}

.my-subs {
    display: block;
    margin-bottom: var(--spacing);
}

.my-subs h6 {
    font-size: 15px;
    padding-bottom: 3px;
    border-bottom: 1px solid #888;
}

.my-subs #subs {
    padding-top: var(--half-spacing);
}

.my-subs i.fa-check {
    width: 16px;
    height: 16px;
    background-color: var(--green);
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    vertical-align: bottom;
    text-align: center;
    padding-top: .3em;
    margin-right: .5em;
}

.legend .viirs {
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}

.legend .viirs.t24 {
    background-image: url("//mapotechnology.com/assets/images/icons/fire/modis1.png");
}

.legend .viirs.t48 {
    background-image: url("//mapotechnology.com/assets/images/icons/fire/modis2.png");
}

.legend .viirs.t72 {
    background-image: url("//mapotechnology.com/assets/images/icons/fire/modis3.png");
}

.legend .fire-icon {
    position: relative;
    font-size: 16px;
    color: #e54343;
    outline: 0 !important;
}

.legend .fire-icon:before {
    content: '';
    position: absolute;
    width: 14px;
    height: 16px;
    background-color: #f9f9f9;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: polygon(20% 29%, 80% 29%, 80% 86%, 18% 86%);
}

.legend .fire-icon.controlled {
    font-size: 13px;
    color: #666;
}

.legend .fire-icon.controlled.norm2 {
    font-size: 15px;
}

.legend .fire-icon.controlled.norm {
    font-size: 17px;
}

.legend .fire-icon.contain {
    font-size: 15px;
    color: #111;
}

.legend .fire-icon.out {
    font-size: 15px;
    color: #403737;
}

.legend .fire-icon.out:before {
    width: 13.125px;
    height: 15px;
    background-color: rgba(10 10 10 / 30%);
}

.legend .fire-icon.rx:before {
    width: 13.125px;
    height: 15px;
    background-color: rgb(255 255 255 / 0);
}

.legend .fire-icon.contain:before {
    width: 13.125px;
    height: 15px;
}

.legend .fire-icon.big:before {
    width: 14.875px;
    height: 17px;
    background-color: rgb(255 255 255 / 70%);
}

.legend .fire-icon.controlled:before {
    width: 12px;
    height: 13px;
    background-color: #ddd;
}

.legend .fire-icon.controlled.norm:before {
    width: 11.375px;
    height: 13px;
}

.legend .fire-icon.controlled.norm2:before {
    width: 13.125px;
    height: 15px;
}

.legend .fire-icon.large:before {
    background-color: rgb(255 255 255 / 0);
    width: 15.75px;
    height: 18px;
}

.legend .fire-icon.rx {
    font-size: 15px;
    width: 22px !important;
    height: 22px !important;
    text-align: center;
    background-color: rgb(10 134 187 / 80%);
    color: #fff;
    line-height: 1.4;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(0 0 0 / 60%);
}

.legend .fire-icon.smkchk {
    color: #7cb342;
}

.legend .fire-icon.big {
    font-size: 17px;
    color: #f17730;
}

.legend .fire-icon.large {
    font-size: 18px;
    width: 25px !important;
    height: 25px !important;
    text-align: center;
    background-color: #e54343;
    line-height: 1.45;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 60%);
}

.legend .complex {
    position: relative;
    font-size: 13px;
    width: 25px !important;
    height: 25px !important;
    text-align: center;
    background-color: #ff3c3c;
    line-height: 1.45;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 60%);
}

.legend .fire-icon.new {
    color: #03b303;
}

.legend .fire-icon.new:before {
    width: 14px;
    height: 16px;
    background-color: #fff;
}

.legend .fire-icon.new.fast {
    font-size: 18px;
    width: 25px !important;
    height: 25px !important;
    text-align: center;
    background-color: #03b303;
    line-height: 1.45;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 60%);
}

.legend .fire-icon.new.fast:before {
    width: 25px;
    height: 25px;
    background-color: transparent;
}

.legend .fire-icon.new.fast i,
.legend .fire-icon.large i,
.legend .fire-icon.rx i {
    margin-top: 4px;
}

.legend .row {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    gap: 1.5em;
    height: 30px;
}

.legend .row .ic {
    display: flex;
    flex: 1 1 35px;
    justify-content: center;
    max-width: 35px;
}

.legend .row .ic .color {
    width: 25px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #111;
    line-height: 1.5;
}

.legend .row .desc {
    display: flex;
    flex: 1 1 auto;
    font-size: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.switch .slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: var(--green);
}

.switch input:focus+.slider {
    box-shadow: 0 0 1px var(--green);
}

.switch input:checked+.slider:before {
    transform: translateX(19.5px);
}

.forecast-table-wrapper {
    width: 100%;
    padding-bottom: 3px;
    overflow-x: auto;
}

.forecast-table {
    width: 100%;
    border-collapse: collapse;
    /*border-collapse: separate;
    border-spacing: 2px;
    margin-top: 20px;*/
    color: #333;
}

.forecast-table .wind-dir {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCIgdmlld0JveD0iMCAwIDY0MCA2NDAiPjxwYXRoIGZpbGw9IiNlZDRkMDAiIGQ9Ik01NDEuOSAxMzkuNWM0LjUtMTEuOCAxLjctMjUuMi03LjItMzQuMXMtMjIuMy0xMS44LTM0LjEtNy4ybC00MTYgMTYwQTMxLjggMzEuOCAwIDAgMCA2NCAyODguN2MuMyAxMy41IDkuMSAyNS40IDIxLjkgMjkuNmwxNzYuOCA1OC45TDMyMS42IDU1NGM0LjMgMTIuOCAxNi4xIDIxLjYgMjkuNiAyMS45czI1LjctNy45IDMwLjYtMjAuNWwxNjAtNDE2eiIvPjwvc3ZnPg==") no-repeat center / cover;
}

.forecast-table-wrapper.hourly .forecast-table thead tr.date-group th:nth-child(2) {
    border-right: 3px solid #ff8cb5;
}

.forecast-table th {
    border: none;
    padding: 10px 15px;
    text-align: center;
}

.forecast-table td {
    padding: 10px 15px;
    text-align: center;
    color: #fff;
    border-right: 3px solid var(--data-color);
}

.forecast-table tbody tr {
    border-bottom: 3px solid var(--data-color);
}

.forecast-table tbody tr td:last-child {
    border-right: 0;
}

.forecast-table tbody tr:last-child {
    border-bottom: 0;
}

.forecast-table-wrapper.hourly table.forecast-table td:not(.row-label) {
    min-width: 90px;
}

/*.forecast-table tr:first-child td:last-child,
.forecast-table tr:nth-child(2) td:last-child,
.forecast-table tr:nth-child(3) td:last-child,
.forecast-table tr:nth-child(4) td:last-child {
    border-right: none;
}*/

.forecast-table thead th {
    width: calc(100% / 6);
    padding: 12px 15px;
    background-color: #151a22;
    font-weight: bold;
    color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
}

.forecast-table .row-label {
    min-width: 165px;
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}

.forecast-table tbody tr:nth-child(even) {
    background-color: var(--box-compliment);
}

.tools.control .tool:first-child {
    border-radius: 8px 0 0 8px;
}

.tools.control .tool:last-child {
    border-radius: 0 8px 8px 0;
}

.tools.control .tool:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 6 Pro";
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.tools.control .tool.active,
.tools.control .tool:focus:not(.active) {
    color: var(--light-blue);
}

.tools.control .tool.w300:before {
    font-weight: 300;
}

.tools.control .tool.w400:before {
    font-weight: 400;
}

.tools.control .tool.w900:before {
    font-weight: 900;
}

.tools.control .tool.f545:before {
    content: '\f545';
}

.tools.control .tool.f3c5:before {
    content: '\f3c5';
}

.tools.control .tool.f5ee:before {
    content: '\f5ee';
}

.context-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 175px;
    height: auto;
    background: #fff;
    border-radius: 6px;
    z-index: 9;
}

.context-menu ul {
    display: inline-flex;
    width: 100%;
    flex-direction: column;
    gap: 0;
    list-style: none;
    margin: var(--spacing) 0 0;
    margin-block-start: 0;
}

.context-menu ul li {
    padding: var(--spacing);
    font-size: 14px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.context-menu ul li.disabled {
    cursor: not-allowed;
    color: #aaa;
}

.context-menu ul li:not(:first-child):not(.disabled):hover {
    background: #eee;
}

#distance {
    position: absolute;
    bottom: var(--spacing);
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 6px;
    background-color: rgb(0 0 0 / 50%);
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    z-index: 9;
}

#user-content-form .field {
    display: flex;
    flex-direction: column;
    gap: 0.45em;
    width: 100%;
    margin-bottom: var(--spacing);
}

#user-content-form .field label {
    font-size: 12px;
    font-weight: bold;
}

#user-content-form .field>div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #1b263e;
    border: 1px solid rgb(217 243 255 / 20%);
    border-radius: 4px;
}

#user-content-form .field>div:focus-within {
    box-shadow: 0 0px 4px rgb(217 243 255 / 50%);
}

#user-content-form .field>div input,
#user-content-form .field>div textarea {
    display: block;
    width: 100%;
    max-width: calc(100% - 12px - 0.5em);
    border: 0;
    padding: 14px;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: transparent;
    outline: none;
    resize: none;
}

#user-content-form .field>div input::placeholder,
#user-content-form .field>div textarea::placeholder {
    color: #ccc;
}

#user-content-form .field>div span {
    padding: 6px;
    font-size: 24px;
    color: #cdcdcd;
    cursor: pointer;
}

#user-content-form #colors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-bottom: var(--spacing);
}

#user-content-form #colors .cmarker {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
}

#user-content-form #colors .cmarker.select {
    border: 2px solid rgb(250 250 250 / 80%);
}

.user-content {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin: var(--spacing) 0 0 0;
    padding-block-start: 0;
    padding-inline-start: 0;
}

.user-content li {
    display: inline-flex;
    gap: 2em;
    align-items: center;
    min-height: 25px;
    justify-content: space-between;
    padding-bottom: var(--spacing);
    border-bottom: 1px solid var(--box-border);
    cursor: pointer;
}

.user-content li:last-child {
    padding-bottom: 0;
    border: 0;
}

.user-content li .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing);
}

.user-content li .meta .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 19px;
    color: #fff;
    background-color: var(--box-color);
    border-radius: 50%;
}

.user-content li .meta h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.user-content li .meta p {
    margin: 0;
    font-size: 13px;
    color: #ccc;
    margin: 6px 0 0 0;
}

.user-context-menu {
    position: absolute;
    background: #f1f1f1;
    max-width: 160px;
    border-radius: 6px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    padding: 6px 0;
    z-index: 10000;
}

.user-context-menu button {
    width: 100%;
    padding: 10px 14px;
    text-align: center;
    background: none;
    border: none;
    font-size: 14px;
    font-family: 'roboto';
    font-weight: 500;
    color: var(--box-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    transition: all .15s ease-in-out;
}

.user-context-menu button:hover {
    background: #d9d9d9;
}

@media (max-width: 1440px) {
    .banner {
        left: unset;
        transform: unset;
        right: calc(2em + 35px);
    }
}

@media (max-width: 1024px) {
    #modal .grid.cols-6 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 920px) {
    .banner {
        left: calc(50% + var(--nav-width));
        right: unset;
        transform: translateX(calc(-50% - calc(var(--nav-width) / 2)));
        bottom: var(--spacing);
        top: unset;
    }

    #modal .grid.cols-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    #modal .grid.cols-3>.card:nth-child(3) {
        grid-column: 1 / -1;
    }

    .radar,
    .spcTimeline {
        left: calc(var(--nav-width) + 50%);
        transform: translateX(-50%);
        bottom: var(--container-space);
    }
}

@media (max-width: 850px) {

    .incident .block .col[data-width="25"],
    .incident .block .col[data-width="75"] {
        max-width: 50%;
    }
}

@media (max-width: 800px) {

    .incident .block .col[data-width="25"],
    .incident .block .col[data-width="75"] {
        max-width: 100%;
        flex: 1 0 100%;
    }

    .inciweb #overview .row {
        flex-direction: column-reverse;
    }

    .grid.cols-4,
    .incident .table[data-cols="4"] {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    .incident .table[data-cols="3"] {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .inciweb figure {
        max-width: 550px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .banner {
        font-size: 14px;
    }

    #modal header {
        align-items: center;
        flex-direction: column;
    }

    .incident header .title,
    .wwa header .title {
        align-items: center;
    }

    .incident header h1,
    .wwa header h1 {
        text-align: center;
    }

    .incident .desc {
        text-align: center;
    }

    .incident .timestamps,
    .wwa .timestamps {
        justify-content: center;
    }

    .wwa .headline {
        text-align: center;
    }

    #modal .grid {
        grid-auto-rows: unset;
    }

    #modal .grid {
        gap: 1rem;
        margin-bottom: var(--spacing);
    }

    .grid.cols-3 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .grid.cols-2 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .incident .table[data-cols="3"] {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .incident .table[data-cols="4"] {
        grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
    }

    #modal .grid>div h3 {
        text-align: center;
    }

    #modal #cursit .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 640px) {
    #modal .grid.stats>div {
        align-items: center;
    }

    .incident .timestamps,
    .wwa .timestamps {
        row-gap: 2px;
    }

    .incident .timestamps>span,
    .wwa .timestamps>span {
        flex: 1 1 100%;
        text-align: center;
    }

    .incident .timestamps>span:after,
    .wwa .timestamps>span:after {
        content: '';
        padding-left: 0;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .switch {
        width: 100%;
        height: 15px;
    }

    .switch .slider:before {
        height: 9px;
        width: 9px;
    }

    .switch input:checked+.slider:before {
        transform: translateX(8.5px);
    }
}

@media (max-width: 600px) {
    #modal .grid.cols-6 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .forecast-table-wrapper {
        /*overflow-x: scroll;*/
        -webkit-overflow-scrolling: touch;
    }

    .forecast-table {
        min-width: 600px;
    }

    .forecast-table thead th {
        font-size: 14px;
        min-width: 120px;
    }

    .forecast-table .row-label {
        text-align: center;
        font-size: 13px;
    }

    .forecast-table td {
        font-size: 15px;
    }
}

@media (min-width: 400px) and (max-width: 550px) {
        .incident .table {
        gap: 1.5rem;
    }
}

@media (max-width: 550px) {

    .grid.stats.cols-4 {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .incident .table[data-cols="3"] {
        grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
    }

    .incident .table[data-cols="4"] {
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }

    #modal .grid>div {
        gap: 0.4em;
        align-items: center;
    }

    .incident h2 {
        text-align: center;
    }

    #modal .grid>div .label {
        margin-top: 0.5em;
        text-align: center;
    }

    #modal .grid>div .label:first-child {
        margin-top: 0;
    }

    #modal :not(.block)>.grid>div dd,
    .inciweb .block .card dd {
        margin-left: 0;
        text-align: center;
    }

    .banner {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .banner {
        left: var(--spacing);
        bottom: calc(var(--spacing) + 10px);
    }

    .alert {
        width: calc(100% - calc(2* var(--container-space)) - 29px - var(--spacing));
        left: calc(var(--container-space) - var(--spacing));
        padding: 0.75em;
        font-size: 14px;
    }

    #modal .content .desc span {
        font-size: 16px;
    }

    #data-form h1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 479px) {

    .data-filter select {
        justify-content: unset;
        gap: 0.5em;
    }

    #data-form .filterEvacs {
        flex-wrap: wrap;
    }

    .radar,
    .spcTimeline {
        width: calc(100% - var(--double-spacing) - var(--mb-button-width));
        left: var(--container-space);
        bottom: calc(calc(var(--container-space) * 2) + 13px);
        transform: unset;
    }

}

@media (max-width: 400px) {
    #data-form h1 {
        font-size: 1.5rem;
    }

    #modal .grid.cols-6 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .incident .table[data-cols="3"],
    .incident .table[data-cols="4"] {
        grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }
}