:root {
    --spacing: 24px;
    --card-bg: rgb(0 0 0 / 24%);
    --border-color: #3e5e74;
    --user-font: 'Noto Sans', sans-serif;
    --heading-font: 'Dosis', sans-serif;
}

@keyframes loading {
    0% {
        opacity: 0%
    }

    50% {
        opacity: 100%
    }

    100% {
        opacity: 0%
    }
}

* {
    box-sizing: border-box;
}

a,
a:visited {
    color: #d3e8f7;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover,
a:visited:hover {
    color: #fff;
}

.mapboxgl-popup-close-button {
    outline: none !important;
}

.mapboxgl-popup-content {
    font-family: var(--user-font);
    font-size: 14px;
    color: #282829;
    padding: 10px;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--user-font);
    font-size: 16px;
    font-weight: 200;
    color: #fff;
}

body {
    background-image: linear-gradient(180deg, rgb(71 113 143 / 82%) 5%, #37576e 95%);
    background-attachment: fixed;
}

header {
    display: block;
    width: 100%;
}

header .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px 50px;
    flex-wrap: wrap;
}

header .head img.logo {
    height: 45px;
}

header .head a {
    color: #fff;
    text-decoration: none;
    font-family: var(--heading-font);
}

main {
    display: block;
    /*margin: 25px 0;*/
}

footer {
    display: block;
    text-align: center;
    margin: var(--spacing) 0;
    padding: var(--spacing) 0;
    border-top: 1px solid rgb(255 255 255 / 8%)
}

.container {
    display: block;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: var(--spacing);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: var(--spacing);
    width: 100%;
}

.row:last-child,
.row:only-child {
    margin: 0
}

.col {
    display: block;
    flex: 1 1 auto;
    max-width: 100%;
    overflow: hidden;
}

.row.c2 .col {
    flex-basis: calc(50% - var(--spacing));
    max-width: 50%;
}

.row.c3 .col {
    flex-basis: calc(33.33% - var(--spacing));
    max-width: 33.33%;
}

.row.c4 .col {
    flex-basis: calc(25% - var(--spacing));
    max-width: 25%;
}

.row.ls .col:first-child,
.row.sl .col:last-child {
    flex-basis: calc(66.67% - var(--spacing));
    max-width: 66.67%;
}

.row.ls .col:last-child,
.row.sl .col:first-child {
    flex-basis: calc(33.33% - var(--spacing));
    max-width: 33.33%;
}

.placeholder {
    position: relative;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    background-color: rgb(42 66 84)
        /*rgb(170 170 170)*/
    ;
    border-radius: 5px;
    overflow: hidden;
}

.placeholder:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(22 55 78)
        /*rgb(220 220 220)*/
    ;
    opacity: 0;
    animation: loading 2s infinite;
    z-index: 45;
}

h1 {
    padding-bottom: 10px;
    font-family: var(--heading-font);
    font-size: 50px;
    font-weight: 600;
    color: #f4f4f4;
    border-bottom: 1px solid rgb(255 255 255 / 25%);
}

h2 {
    padding-bottom: 10px;
    font-family: var(--heading-font);
    font-weight: 600;
    color: #f4f4f4;
    border-bottom: 1px solid rgb(255 255 255 / 25%);
}

p {
    margin: 0;
}

.error {
    background-color: rgb(255 0 0 / 29%);
    display: inline-block;
    padding: 3px 8px;
    border-radius: 6px;
}

.card {
    position: relative;
    display: block;
    padding: 0.75rem;
    margin-bottom: var(--spacing);
    background: var(--card-bg);
    border-radius: 10px;
    box-shadow: 0 23px 20px -20px rgb(9 10 18 / 10%), 0 0 15px rgb(9 10 18 / 6%);
}

.card:only-child,
.card:last-child {
    margin-bottom: 0;
}

.card h5 {
    margin: -1rem -1.5rem;
    padding: 1rem 1.5rem;
    font-family: var(--heading-font);
    font-size: 18px;
    font-weight: 600;
    color: rgb(244 244 245 / 90%);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card h6:after {
    display: block;
    clear: both;
    content: '';
}

.card .controls {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 14px;
    font-size: .875rem;
}

.card .controls a,
.card .controls span {
    padding: 1px 4px;
    color: rgb(255 255 255 / 77%);
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.card .body,
.card .controls+.body {
    margin-top: 16px;
}

.card .body .data-share {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card .body .data-share .l {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.card .body .data-share .l span {
    text-align: right;
}

.card .body .data-share h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    color: #d8deed;
}

.card .body .data-share .upd {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #dbdbdb;
}

.chart-container {
    /*background-color: rgb(255 255 255 / 90%);
    border-radius: 10px;*/
    margin-top: 12px;
    cursor: default;
}

.chart-container text {
    fill: #fff;
}

.progress-bar {
    display: block;
    width: 100%;
    height: 10px;
    background-color: #474d84;
    border-radius: 5px;
    overflow: hidden
}

.card .progress-bar {
    background-color: rgb(0 0 0 / 24%);
}

.progress-bar .progress {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    background-color: #3979f6;
    border-radius: inherit
}

#webcams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px 0;
}

.wssi {
    width: 100%;
    height: 505px;
    /*margin-top: 5px;*/
    background-position: 0 -29px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    cursor: default;
    user-select: none;
}

.wssi-legend {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    align-items: center;
}

.wssi-legend span {
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.table {
    display: block;
    width: 100%;
    max-height: 600px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    font-weight: 200;
}

table thead th {
    font-weight: 400;
}

table th,
table td {
    margin: 0;
    padding: 3px 5px;
}

table tr:nth-child(even) td {
    border: 1px solid var(--border-color);
    border-left: 0;
    border-right: 0;
}

@media (max-width: 992px) {
    .row.c4 .col {
        flex-basis: calc(50% - var(--spacing));
        max-width: 50%;
    }

    #snotels {
        max-height: 400px;
        overflow-y: auto;
    }
}

@media (max-width: 768px) {

    .row.c3 .col,
    .row.ls .col:first-child,
    .row.sl .col:last-child,
    .row.ls .col:last-child,
    .row.sl .col:first-child {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media (max-width: 600px) {

    .row.c2 .col,
    .row.c4 .col {
        flex-basis: 100%;
        max-width: 100%;
    }

    .card h5,
    h2 {
        text-align: center;
    }

    h1 {
        font-size: 35px;
    }

    #snotels {
        max-height: 800px;
    }
}

@media (max-width: 425px) {
    h1 {
        text-align: center;
    }

    header .head img.logo {
        height: 35px;
    }

    header .head {
        flex-direction: column;
        justify-content: center !important;
    }

    .head a {
        flex: 0 1 auto;
    }

    main .container {
        padding-top: 0;
    }

    .card .controls+.body {
        margin-top: 0;
    }

    .card .controls {
        position: relative;
        padding: 10px 0;
        margin: 0 auto;
        display: block;
        width: fit-content;
    }
}