:root {
    --nav-width: 89px;
    --mb-button-width: 35px;
    --container-space: 0.7em;
    --modal-height: 8vh;
    --search-results-width: 400px;
    --control-height: 37px;
    --spacing: 1em;
    --half-spacing: 0.5em;
    --roboto: 'Roboto', Tahoma, sans-serif;
    --dosis: 'Dosis', Tahoma, sans-serif;
    --close-color: #cfcfcf;
    --hover-close-color: #9b9797;
    --color-transition: all .15s ease-in-out;
    --container-color: #0f172a;
    --tooltip-light: #e7e7e7;
    --data-color: #192232;
    --box-color: #0d1324;
    --box-border: #1e293b;
    --box-border-light: #334155;
    --box-text-color: #94a3b8;
    --box-header-color: #ed4d00;
    --box-orange: #f97316;
    --box-orange-hover: rgb(249 115 22 / 0.5);
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-size: 16px;
    overflow: hidden;
}

a,
a:visited {
    color: var(--blue);
    text-decoration: none;
    transition: all .15s ease-in-out;
}

a:hover,
a:visited:hover {
    color: var(--orange);
}

.bd {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(0 0 0 / 50%)), color-stop(0, rgb(0 0 0 / 0%)));
}

.loading {
    position: absolute;
    display: inline-flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing);
    font-family: var(--roboto);
    font-size: 14px;
    font-weight: 100;
    z-index: 999;
}

#map {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.app-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.android-banner {
    position: relative;
    display: none;
    width: 100%;
    padding: var(--half-spacing);
    align-items: center;
    justify-content: space-between;
    gap: .75em;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 9999;
}

.android-banner .dismiss {
    font-size: 20px;
    color: #888;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    transition: all .15s ease-in-out;
}

.android-banner .dismiss:hover {
    color: #444;
    background-color: rgb(0 0 0 / 10%);
}

.android-banner .inner {
    display: flex;
    align-items: center;
    gap: .75em;
}

.android-banner .icon {
    display: block;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 10px;
    background: url(https://play-lh.googleusercontent.com/3Hz4Kr-v7TlKDeFZsUWeCToqQpcx5w4PN4An2WUOEGYrok4ctSAwMD3-fnLarPPWYQ=w240-h480-rw) no-repeat;
    background-size: cover;
}

.android-banner .text {
    display: inline-flex;
    flex-direction: column;
    gap: 0.33em;
    font-size: 15px;
    user-select: none;
}

.android-banner .text span {
    font-size: 14px;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: var(--nav-width);
    height: 100%;
    background-color: #020617;
    box-shadow: 2px 0 6px rgb(0 0 0 / 20%);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 999;
}

nav::-webkit-scrollbar {
    width: 4px;
}

nav .nav-wrapper {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: var(--spacing) 0;
}

nav .nav-wrapper .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .nav-wrapper .logo a {
    outline: none;
}

nav .nav-wrapper .logo img {
    width: 100%;
    max-width: 65px;
    padding: 0 0.75em;
    outline: none;
}

nav ul {
    display: none;
    flex: 1;
    flex-direction: column;
    gap: var(--spacing);
    list-style: none;
    margin: calc(var(--spacing) * 1.5) 0;
    padding: 0 var(--spacing);
}

nav ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .4em;
    color: #c6cbd1;
    transition: all .25s ease-in-out;
    cursor: pointer;
}

nav ul li.disabled {
    cursor: not-allowed;
    color: #646c78 !important;
}

nav ul li i {
    font-size: 19px;
}

nav ul li span {
    display: block;
    font-size: 12px;
    text-align: center;
}

nav ul li:hover {
    color: var(--box-orange);
}

nav.hide {
    max-width: 40px;
}

nav.hide ul {
    padding: var(--spacing) .5em;
}

nav.hide ul li i {
    font-size: 18px;
}

nav.hide ul li span {
    display: none;
}

nav.hide .nav-wrapper .logo img {
    padding: 0 5px;
}

#close-navbar {
    display: none;
    flex: 0;
    width: 100%;
    padding: var(--spacing) 0;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#close-navbar.show {
    display: inline-flex;
}

#close-navbar:hover {
    background-color: rgb(100 100 100 / 5%);
}

.notify {
    position: absolute;
    display: inline-flex;
    top: -8px;
    right: 5px;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 2px;
    font-size: 11px;
    color: #fff;
    line-height: 0;
    text-align: center;
    background-color: #d93d3d;
    border-radius: 50%;
}

.notify.m10 {
    width: 18px;
    height: 18px;
}

.filter-controls {
    position: absolute;
    top: var(--container-space);
    left: calc(var(--nav-width) + var(--container-space));
    display: flex;
    align-items: center;
    width: calc(var(--search-results-width) - var(--container-space));
    gap: var(--spacing);
    z-index: 998;
}

.control {
    height: var(--control-height);
    border: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0.125rem 0.3125rem rgb(0 0 0 / 14%), 0 0.0625rem 0.375rem rgb(0 0 0 / 12%);
}

/*.tools.control {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.tools.control .tool {
    position: relative;
    display: block;
    width: var(--control-height);
    height: 100%;
    cursor: pointer;
    transition: var(--color-transition);
    user-select: none;
}

.tools.control .tool:hover {
    background-color: #eee;
}*/

#menuIcon {
    display: none;
    padding: 0.3em;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

#dd-close {
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    margin: var(--half-spacing) var(--half-spacing) 0 0;
    padding: var(--half-spacing);
    font-size: 24px;
    color: #d3d3d3;
    line-height: 1;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

#dd-close:hover {
    color: #b9b9b9;
}

/* OVERRIDE MAPLIBRE CONTROL STYLES */
.maplibregl-ctrl-attrib-inner {
    padding: 4px 0;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.maplibregl-ctrl-attrib.maplibregl-compact {
    background-color: rgb(250 250 250 / 70%);
    margin: 0 var(--spacing) calc(var(--spacing) - 2px) var(--spacing) !important;
}

.maplibregl-ctrl-attrib-button {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill-rule='evenodd' viewBox='0 0 20 20'%3E%3Cpath fill='%2300a6ed' d='M4 10a6 6 0 1 0 12 0 6 6 0 1 0-12 0m5-3a1 1 0 1 0 2 0 1 1 0 1 0-2 0m0 3a1 1 0 1 1 2 0v3a1 1 0 1 1-2 0'/%3E%3C/svg%3E");
}

.maplibregl-ctrl-attrib-button:focus,
.maplibregl-ctrl-group button:focus {
    box-shadow: unset;
}

a.maplibregl-ctrl-logo {
    width: 60px;
    height: 15.68px;
}

.maplibregl-ctrl-top-left,
.maplibregl-ctrl-bottom-left {
    left: calc(var(--nav-width) + var(--spacing));
}

.maplibregl-ctrl-top-right .maplibregl-ctrl {
    margin: var(--spacing) var(--spacing) 0 0;
}

.maplibregl-ctrl-scale {
    font-family: var(--roboto);
    border: 1px solid #333 !important;
    border-top: transparent !important;
    padding: 1px 5px !important;
    margin: 0 0 var(--spacing) 0 !important;
    font-weight: 500;
    color: #202020;
    background-color: rgb(245 245 245 / 50%) !important;
}

.maplibregl-ctrl-group button {
    width: var(--mb-button-width);
    height: var(--mb-button-width);
    transition: all .15s ease-in-out;
}

.maplibregl-ctrl-group button:first-child {
    border-radius: 4px 4px 0 0;
}

.maplibregl-ctrl-group button:last-child {
    border-radius: 0 0 4px 4px;
}

.maplibregl-ctrl-group button:only-child {
    border-radius: 4px;
}

.maplibregl-ctrl button:not(:disabled):hover {
    background-color: #f0f0f0;
}

.maplibregl-ctrl-group:not(:empty) {
    box-shadow: 0 0 var(--spacing) rgb(0 0 0 / 15%);
}

.maplibregl-ctrl button span {
    background-size: 56%;
}

.maplibregl-ctrl button.maplibregl-ctrl-fullscreen .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M400%2096C391.2%2096%20384%20103.2%20384%20112C384%20120.8%20391.2%20128%20400%20128L489.4%20128L320%20297.4L150.6%20128L240%20128C248.8%20128%20256%20120.8%20256%20112C256%20103.2%20248.8%2096%20240%2096L112%2096C103.2%2096%2096%20103.2%2096%20112L96%20240C96%20248.8%20103.2%20256%20112%20256C120.8%20256%20128%20248.8%20128%20240L128%20150.6L297.4%20320L128%20489.4L128%20400C128%20391.2%20120.8%20384%20112%20384C103.2%20384%2096%20391.2%2096%20400L96%20528C96%20536.8%20103.2%20544%20112%20544L240%20544C248.8%20544%20256%20536.8%20256%20528C256%20519.2%20248.8%20512%20240%20512L150.6%20512L320%20342.6L489.4%20512L400%20512C391.2%20512%20384%20519.2%20384%20528C384%20536.8%20391.2%20544%20400%20544L528%20544C536.8%20544%20544%20536.8%20544%20528L544%20400C544%20391.2%20536.8%20384%20528%20384C519.2%20384%20512%20391.2%20512%20400L512%20489.4L342.6%20320L512%20150.6L512%20240C512%20248.8%20519.2%20256%20528%20256C536.8%20256%20544%20248.8%20544%20240L544%20112C544%20103.2%20536.8%2096%20528%2096L400%2096z%22%2F%3E%3C%2Fsvg%3E") !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M344%20120C344%20106.7%20333.3%2096%20320%2096C306.7%2096%20296%20106.7%20296%20120L296%20296L120%20296C106.7%20296%2096%20306.7%2096%20320C96%20333.3%20106.7%20344%20120%20344L296%20344L296%20520C296%20533.3%20306.7%20544%20320%20544C333.3%20544%20344%20533.3%20344%20520L344%20344L520%20344C533.3%20344%20544%20333.3%20544%20320C544%20306.7%20533.3%20296%20520%20296L344%20296L344%20120z%22%2F%3E%3C%2Fsvg%3E") !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20640%22%3E%3Cpath%20d%3D%22M96%20320C96%20311.2%20103.2%20304%20112%20304L528%20304C536.8%20304%20544%20311.2%20544%20320C544%20328.8%20536.8%20336%20528%20336L112%20336C103.2%20336%2096%20328.8%2096%20320z%22%2F%3E%3C%2Fsvg%3E") !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
    background-size: 90%;
}

.maplibregl-ctrl button.maplibregl-ctrl-compass {
    cursor: pointer;

    .maplibregl-ctrl-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ed254e' width='300' height='300' viewBox='0 0 29 29'%3E%3Cpath d='M10.5 14l4-8 4 8h-8z'/%3E%3Cpath d='M10.5 16l4 8 4-8h-8z' fill='%23ddd'/%3E%3C/svg%3E") !important;
        background-size: 90%;
    }
}

.tooltip {
    position: absolute;
    padding: 4px 6px;
    max-width: 200px;
    font-size: 13px;
    line-height: 1.2;
    background: rgb(0 0 0 / 90%);
    color: #fff;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
    box-shadow: 0 0 3px rgb(20 20 20 / 50%);
    transition: opacity 0.1s, transform 0.1s;
    z-index: 9999;
    word-wrap: break-word;
}

.tooltip.light {
    background: var(--tooltip-light);
    color: #262626;
    box-shadow: 0 0 6px rgb(20 20 20 / 20%);
}

.tooltip.show {
    opacity: 1;
}

.tooltip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.tooltip.down::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px 0 6px;
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

.tooltip.light.down::after {
    border-color: var(--tooltip-light) transparent transparent transparent;
}

.tooltip.up::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent rgba(0, 0, 0, 0.85) transparent;
}

.tooltip.light.up::after {
    border-color: transparent transparent var(--tooltip-light) transparent;
}

.tooltip.left::after {
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    border-width: 6px 6px 6px 0;
    border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent;
}

.tooltip.light.left::after {
    border-color: transparent var(--tooltip-light) transparent transparent;
}

.tooltip.right::after {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    border-width: 6px 0 6px 6px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.85);
}

.tooltip.light.right::after {
    border-color: transparent transparent transparent var(--tooltip-light);
}

@media (max-width: 600px) {
    @media (min-height: 500px) {
        nav ul {
            gap: 2em;
        }
    }

    :root {
        --nav-width: 40px;
    }

    nav {
        max-width: 40px;
    }

    nav ul {
        padding: var(--spacing) .5em;
    }

    nav ul li i {
        font-size: 16px;
    }

    nav ul li span {
        display: none;
    }

    nav .nav-wrapper .logo img {
        padding: 0 4px;
    }

    #close-navbar {
        display: none;
    }

    .notify {
        top: 0;
        left: 0;
    }
}

@media (max-width: 500px) {
    :root {
        --nav-width: 0px;
    }

    .bd {
        display: block;
    }

    .filter-controls {
        width: calc(100% - var(--container-space) - 10px);
        left: var(--container-space);
        gap: 0.7em;
    }

    #menuIcon,
    #dd-close {
        display: block;
    }

    nav {
        transition: transform 0.3s ease;
        max-width: 70vw;
        transform: translateX(-100%);
    }

    nav.open {
        transform: translateX(0%);
    }

    nav ul {
        gap: calc(var(--spacing) * 1.5);
        padding: 0 calc(var(--spacing) * 2) calc(var(--spacing) * 2);
    }

    nav ul li {
        flex-direction: row;
        gap: 2em;
    }

    nav ul li i {
        width: 12.5px;
        font-size: 20px;
    }

    nav ul li span {
        display: block;
        font-size: 16px;
    }

    nav .nav-wrapper .logo {
        padding: var(--spacing);
        justify-content: center;
    }

    nav .nav-wrapper .logo img {
        height: 43px;
    }

    .notify {
        top: 50%;
        left: unset;
        transform: translateY(-50%);
    }

    #search-results {
        left: calc(21px + 1.3em) !important;
        max-width: calc(100% - calc(21px + 1.3em)) !important;
    }

    .maplibregl-ctrl-top-left,
    .maplibregl-ctrl-bottom-left {
        left: var(--spacing);
    }
}

@media (max-width: 400px) {
    :root {
        --mb-button-width: 28px;
    }

    .maplibregl-ctrl-attrib-inner {
        padding: 3px 0 0 4px;
        font-size: 11px;
    }

    .maplibregl-ctrl-attrib.maplibregl-compact {
        padding: 0px 18px 0px 0px;
        min-height: 18px;
    }

    .maplibregl-ctrl-attrib-button {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
    }

    .android-banner {
        flex-wrap: wrap;
    }

    .play_store_download {
        margin: 0 auto!important;
    }
}